{% extends "base.html" %}
{% load bookingsystem_extras %}
{% block sidebarNav %}
<!-- authentication -->
{% if user.is_authenticated != True %}
  {% include "sidebarNav/anon.html" %}

{% elif user|is_manager %}
	{% include "sidebarNav/manager.html" %}

{% elif user|is_coach %}
	{% include "sidebarNav/coach.html" %}

{% elif user|is_parent %}
	{% include "sidebarNav/parent.html" %}

{% endif %}

{% endblock %}

<!-- main area for AgeGroups info -->
{% block mainArea %}
AgeGroups....
{% endblock %}