
{% extends "base.html" %}
{% load bookingsystem_extras %}

{% block sidebarNav %}
{% if user.is_authenticated %}
	{% if user|is_manager %}
		{% include "sidebarNav/manager.html" %}
	{% elif user|is_parent %}
		{% include "sidebarNav/parent.html" %}
	{% elif user|is_coach %}
		{% include "sidebarNav/coach.html" %}
	{% endif %}{% endif %}
{% endblock %}

{% block mainArea %}
	<form id="week_form" method="post" action="changePassword.html">
                {% csrf_token %}

                {% for field in form %}
                <div class="form-group">
                   <p><font color="red">{{ field.errors }}</font></p>
                   {{ field.label_tag }} {{ field }}
                </div>
                {% endfor %}


                <input type="submit" class="btn btn-default" name="submit_pass" value="Change Password" />
              </form>
{% endblock %}
