{% extends "base.html" %}

{% block sidebarNav %}
{% include "sidebarNav/manager.html" %}
{% endblock %}
<!--!!!!!      ---------------- -TODO- ------------------     !!!!! -->
<!--                            ATANAS                              -->
<!-- 	                                                            	-->
<!-- THIS PAGE HAS TO DISPLAY MORE INFO ABOUT THE SELECTED SESSION  -->
<!-- 				A SESSION HAS THE FOLLOWING ATTRIBUTES:		  						-->
<!-- 																															  -->
<!--   BEGIN TIME, END TIME BLOCK IT BELONGS TO, PLACES LEFT				-->
<!--AGE GROUP, SKILL GROUP,IS FULL, ASSIGNED COACH, LIST OF MEMBERS -->
<!-- 	                                                           		-->
<!--!!!!!      ---------------- -TODO- ------------------      !!!!!-->

{% block mainArea %}

<!-- Error message -->

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Error</h3>
  </div>
</div>


{% endblock %}