{% extends "base.html" %}

{% block sidebarNav %}
{% endblock %}

{% block mainArea %}
<!-- login panel -->
<div class="panel">
	<div class="panel-body" align="center">
		<form action="login_view/" method="post">{% csrf_token %}
			<h2>Login</h2>

			<p><font color="red">Incorrect Username or Password.<br>Please try again.</font></p>
			
			<p><td><label for="username">Username</label></p>
			<p><td><input class="studentLabel" type="text" name="username" value="" id="username" ></p>
			<p><label for="password">Password</label><br></p>
			<p><input class="studentLabel" type="password" name="password" value="" id="password"></p>
			<br>
            <input class="btn btn-default" type="submit" value="Login" />
            <input type="hidden" name="next" value="{{ next|escape }}" />

  			<span class="btn btn-default" type="button">
				<a class="studentLabel" style="text-decoration:none" href="/register.html">
           			Register
           		</a>
       	 	</span>
		</form>		

		<br>
	</div>
</div> <!--panel-->
<!-- end of login panel -->
{% endblock %}