{% extends "base.html" %}

{% block mainArea %}

<br>
<!-- login panel -->
<div class="panel">
	<div class="panel-body" align="center">
		<form action="login_view/" method="post">{% csrf_token %}
			<h2>Login</h2>
		{{ form.non_field_errors }}
		{% for field in form %}
	    <div class="form-group">
	       <p><font color="red">{{ field.errors }}</font></p>
	       {{ field.label_tag }} {{ field }}
	    </div>
	    {% endfor %}


		<input class="btn btn-default" type="submit" value="Login" />
            <input type="hidden" name="next" value="{{ next|escape }}" />

				<a class="btn btn-default" href="/register.html">
           			Register
           		</a>
		</form>

		<br>
	</div>
</div> <!--panel-->
<!-- end of login panel -->
{% endblock %}