{% extends "base.html" %}

{% block mainArea %}

<br>
<!-- login panel -->
<div class="panel">
	<div class="panel-body" align="center">
		<form action="login_view/" method="post">{% csrf_token %}
			<h2>Login</h2>

			<p><td><label for="username">Username</label></p>
			<p><td><input class="studentLabel" type="text" name="username" value="" id="username" ></p>
			<p><label for="password">Password</label><br></p>
			<p><input class="studentLabel" type="password" name="password" value="" id="password"></p>
			<br>
            <input class="btn btn-default" type="submit" value="Login" />
            <input type="hidden" name="next" value="{{ next|escape }}" />

				<a class="btn btn-default" href="/register.html">
           			Register
           		</a>

		</form>		

		<br>
	</div>
</div> <!--panel-->
<!-- end of login panel -->
{% endblock %}