{% extends "base.html" %}

{% block title %}Create an account{% endblock %}

{% block mainArea %}
  <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Registration form</h3>
  </div>
  <div class="panel-body">

  <form action="" method="post">
  	{% csrf_token %}
      <p><td>{{form.username.help_text}} {{ form.username }}</p>
      <p><td>{{form.first_name.help_text}} {{form.first_name}}</p>
      <p><td>{{form.last_name.help_text}} {{form.last_name}}</p>
      <p><td>{{form.email.help_text}} {{form.email}}</p>
	  <p><td>{{form.password.help_text}} Password: {{form.password}}</p>


      <input class="btn btn-default" type="submit" value="Create Account" />
  </form>

</div>
{% endblock %}