{% extends "base.html" %}


{% block sidebarNav %}
<li><a href="index.html"><strong>Home</strong></a></li>
<li><a href="loggedin.html">Log me in!</a></li>

{% endblock %}            


{% block mainArea %}
<h1 id="section1">You can do so much more when you are logged in!</h1>
<p>Try it now and see the difference!</p>
{% endblock %}


{% block footer %}
<ul class="list-unstyled">
	<li class="col-sm-4 col-xs-6"><a href="#">About the Club</a></li>
	<li class="col-sm-4 col-xs-6"><a href="#">Venues</a></li>
	<li class="col-sm-4 col-xs-6"><a href="#">Contact</a></li>
	<li class="col-sm-4 col-xs-6"><a href="#">Age Groups</a></li>
	<li class="col-sm-4 col-xs-6"><a href="#">Login</a></li>
	<li class="col-sm-4 col-xs-6"><a href="#">News</a></li>
	<li class="col-sm-4 col-xs-6"><a href="#">Contact</a></li>
	<li class="col-sm-4 col-xs-6"><a href="#">Events</a></li>
</ul>
{% endblock %}

