{% extends "base.html" %}

{% block sidebarNav %}
{% include "sidebarNav/manager.html" %}
{% endblock %}

{% load bookingsystem_extras %}
<!-- add block main area -->
{% block mainArea %}
<!-- style -->
<style>
ul
{
    list-style-type: none;
}
</style>

<!-- main area -->
<br>

        <!-- cofigure block name start and end -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Create a Block</h3>
            </div> <!-- end head-->
            <div class="panel-body">
					<div class="list-group">
						<!-- Block of type "Week" -->
							<div class="accordion-heading">
								<a class="list-group-item clearfix" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter }}">
									<span class="glyphicon glyphicon-file"></span>
									Summer Camp Week block <!-- Block of type "Week" -->
									<span class="pull-right">
								</a>
							</div>

							<div id="collapse{{ forloop.counter }}" class="accordion-body collapse" role="tabpanel">
								<div class="panel-body">
									<div class="panel-body">
										<form class="form-horizontal" id="week_form" method="post" action="/bookingsystem/manager/addBlock.html">{% csrf_token %}
							  				{% for field in form %}
							  					<div class="form-group">
							  						<p><font color="red"><strong>{{ field.errors|striptags }}</strong></font></p>
							  						<label class="control-label col-xs-10 col-sm-4 col-md-4">{{ field.label_tag }}</label>
							  						<div class="col-xs-15 col-sm-7 col-md-6">
							  							{{ field|addcss:"form-control col-xs-1 col-sm-1 col-md-1" }}
							  						</div>
							  					</div>
							  				{% endfor %}
											<input type="submit" class="btn btn-default pull-right" name="submit_week" value="Create Block"/></input>
										</form>
										</div>
									</div>
								</div>
							</div>
						<!-- end of Block of type "Week" -->
						<!-- Block of type "Season" -->
								<div class="accordion-heading">
									<a class="list-group-item clearfix" data-toggle="collapse" data-parent="#accordion2" href="#collapse2{{ forloop.counter }}">
										<span class="glyphicon glyphicon-file"></span>
										Add a class <!-- Block of type "Season" -->
										<span class="pull-right">
									</a>
								</div>

								<div id="collapse2{{ forloop.counter }}" class="accordion-body collapse" role="tabpanel">
									<div class="panel-body">
										<div class="panel-body">
											<form class="form-horizontal" id="week_form" method="post" action="/bookingsystem/manager/addBlock.html">{% csrf_token %}
								  				{% for field in sform %}
								  					<div class="form-group">
														{% if field.name = "weekdays" %}
																<p><font color="red"><strong>{{ field.errors|striptags }}</strong></font></p>
	  								  							<label class="control-label col-xs-10 col-sm-4 col-md-4">{{ field.label_tag }}</label>
																<div class="col-xs-10 col-sm-4 col-md-4" style="margin-left: -40px">
																	{{ field }}
																</div>
														{% else %}
	  								  						<p><font color="red"><strong>{{ field.errors|striptags }}</strong></font></p>
	  								  						<label class="control-label col-xs-10 col-sm-4 col-md-4">{{ field.label_tag }}</label>
	  								  						<div class="col-xs-15 col-sm-7 col-md-6">
	  								  							{{ field|addcss:"form-control col-xs-1 col-sm-1 col-md-1" }}
	  								  						</div>
														{% endif %}
								  					</div>
								  				{% endfor %}
												<input type="submit" class="btn btn-default pull-right" name="submit_week" value="Create Block"/></input>
											</form>
											</div>
										</div>
									</div>
								</div>
						<!-- end of Block of type "Season" -->

					</div> <!-- end of list group-->
            </div> <!-- end body-->
          </div> <!-- end panel-->
{% endblock %}