{% extends "base.html" %}

{% block sidebarNav %}
{% include "sidebarNav/manager.html" %}
{% endblock %}

{% comment %}
--------------------------------------------------------------------------------
---                               TODO'S                                     ---
--------------------------------------------------------------------------------

  * Reallocate and add appropriate spacing to the widgets of the form.
  * Get rid or do something else with the submit button at the bottom of the code
  * We need to totally rework the second part of the Block creation page.


{% endcomment %}

{% block mainArea %}

<!-- main area -->

        <!-- cofigure block name start and end -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Block Details (This creates a 'Week' Block and populates it)</h3>
            </div> <!-- end head-->
            <div class="panel-body">
              <form id="week_form" method="post" action="/bookingsystem/manager/addBlock.html">
                {% csrf_token %}

                {% for field in form %}
                <div class="form-group">
                   <p><font color="red">{{ field.errors }}</font></p>
                   {{ field.label_tag }} {{ field }}
                </div>
                {% endfor %}


                <input type="submit" class="btn btn-default" name="submit_week" value="Create Block" />
              </form>
            </div> <!-- end body-->
          </div> <!-- end panel-->



          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Block Details (This creates a 'Season' Block and populates it)</h3>
            </div> <!-- end head-->
            <div class="panel-body">
              <form id="season_form" method="post" action="/bookingsystem/manager/addBlock.html">
                {% csrf_token %}

               {% for field in sform %}
                <div class="form-group">
                   <p><font color="red">{{ field.errors }}</font></p>
                   {{ field.label_tag }} {{ field }}
                </div>
                {% endfor %}


                <input type="submit" class="btn btn-default" name="submit_season" value="Create Block" />
              </form>
            </div> <!-- end body-->
          </div> <!-- end panel-->




            {% comment %}

**** This is not cool :(  ****


    <input type="submit" name="submit" value="Create Category" />
  </form>

              <input type="text" class="form-control" name="blockname" placeholder="Block Name" aria-describedby="basic-addon1">

              <div class="btn-group" >
                  <button type="button" class="btn btn-primary">Start Date</button>
                  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="caret"></span>

                    <span class="sr-only">Date List</span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <!-- TODO retreive from database -->
                    <li><a href={% url 'bookingsystem.views.childProfile' user.user_uid.uid %}>{{user.user_uid.firstname}}, {{user.user_uid.lastname}} </a></li>
                  </ul>
              </div>

              <div class="btn-group" >
                  <button type="button" class="btn btn-primary">End Date</button>
                  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="caret"></span>

                    <span class="sr-only">Date List</span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <!-- TODO retreive from database -->
                    <li><a href={% url 'bookingsystem.views.childProfile' user.user_uid.uid %}>{{user.user_uid.firstname}}, {{user.user_uid.lastname}} </a></li>
                  </ul>
              </div>

              <div class="btn-group" >
                  <button type="button" class="btn btn-primary">Age Group</button>
                  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="caret"></span>

                    <span class="sr-only">Age Group List</span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <!-- TODO retreive from database -->
                    <li><a href={% url 'bookingsystem.views.childProfile' user.user_uid.uid %}>{{user.user_uid.firstname}}, {{user.user_uid.lastname}} </a></li>
                  </ul>
              </div>

          </div>
          {% endcomment %}


          {% comment %}
          <!-- select bookings checkboxes -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Weekly Sessions (Morning or Full Days)</h3>
            </div> <!-- end heading -->
            <div class="panel-body">

              <fieldset>
                    <div class="row">

                        <!-- Monday -->
                        <div class="calendar-style">
                        <div class="panel panel-default">
                          <div class="panel-heading-day">
                            <h3 class="panel-title">Mon</h3>
                          </div>
                          <div class="panel-body">
                                <div class="col-sm-2">
                                <div class="radio">
                                    <input type="radio" name="M" id="MM" value="option1">
                                    <label for="radio1">M</label>
                                </div>
                                <div class="radio">
                                    <input type="radio" name="M" id="MF" value="option2">
                                    <label for="radio2">F</label>
                                </div>
                            </div>

                          </div>
                        </div> <!--/.panel-->
                        </div> <!--/.Monday-->

                        <!-- Tuesday -->
                        <div class="calendar-style">
                        <div class="panel panel-default">
                          <div class="panel-heading-day">
                            <h3 class="panel-title">Tue</h3>
                          </div>
                          <div class="panel-body">
                                <div class="col-sm-2">
                                <div class="radio">
                                    <input type="radio" name="TU" id="TM" value="option1">
                                    <label for="TM">
                                        M
                                    </label>
                                </div>
                                <div class="radio">
                                    <input type="radio" name="TU" id="TF" value="option2">
                                    <label for="TF">
                                        F
                                    </label>
                                </div>
                            </div>

                          </div>
                        </div> <!--/.panel-->
                        </div> <!--/.Tuesday-->

                        <!-- Wednesday -->
                        <div class="calendar-style">
                        <div class="panel panel-default">
                          <div class="panel-heading-day">
                            <h3 class="panel-title">Wed</h3>
                          </div>
                          <div class="panel-body">
                                <div class="col-sm-2">
                                <div class="radio">
                                    <input type="radio" name="W" id="WM" value="option1">
                                    <label for="WM">
                                        M
                                    </label>
                                </div>
                                <div class="radio">
                                    <input type="radio" name="W" id="WF" value="option2">
                                    <label for="WF">
                                        F
                                    </label>
                                </div>
                            </div>

                          </div>
                        </div> <!--/.panel-->
                        </div> <!--/.Wednesday-->

                        <!-- Thursday -->
                        <div class="calendar-style">
                        <div class="panel panel-default">
                          <div class="panel-heading-day">
                            <h3 class="panel-title">Thu</h3>
                          </div>
                          <div class="panel-body">
                                <div class="col-sm-2">
                                <div class="radio">
                                    <input type="radio" name="TH" id="THM" value="option1">
                                    <label for="THM">M</label>
                                </div>
                                <div class="radio">
                                    <input type="radio" name="TH" id="THF" value="option2">
                                    <label for="THF">
                                        F
                                    </label>
                                </div>
                            </div>

                          </div>
                        </div> <!--/.panel-->
                        </div> <!--/.Thursday-->

                        <!-- Friday -->
                        <div class="calendar-style">
                        <div class="panel panel-default">
                          <div class="panel-heading-day">
                            <h3 class="panel-title">Fri</h3>
                          </div>
                          <div class="panel-body">
                                <div class="col-sm-2">
                                <div class="radio">
                                    <input type="radio" name="FR" id="FRM" value="option1">
                                    <label for="FRM">
                                        M
                                    </label>
                                </div>
                                <div class="radio">
                                    <input type="radio" name="FR" id="FRF" value="option2">
                                    <label for="FRF">
                                        F
                                    </label>
                                </div>
                            </div>

                          </div>
                        </div> <!--/.panel-->
                        </div> <!--/.Friday-->

                        <!-- Saturday -->
                        <div class="calendar-style">
                        <div class="panel panel-default">
                          <div class="panel-heading-day">
                            <h3 class="panel-title">Sat</h3>
                          </div>
                          <div class="panel-body">
                                <div class="col-sm-2">
                                <div class="radio">
                                    <input type="radio" name="S" id="SM" value="option1">
                                    <label for="SM">
                                        M
                                    </label>
                                </div>
                                <div class="radio">
                                    <input type="radio" name="S" id="SF" value="option2">
                                    <label for="SF">
                                        F
                                    </label>
                                </div>
                            </div>
                          </div>
                        </div> <!--/.panel-->
                        </div> <!--/.Saturday-->

                        <!-- Sunday -->
                        <div class="calendar-style">
                        <div class="panel panel-default">
                          <div class="panel-heading-day">
                            <h3 class="panel-title">Sun</h3>
                          </div>
                          <div class="panel-body">
                                <div class="col-sm-2">
                                <div class="radio">
                                    <input type="radio" name="SU" id="SUM" value="option1">
                                    <label for="SUM">
                                        M
                                    </label>
                                </div>
                                <div class="radio">
                                    <input type="radio" name="SU" id="SUF" value="option2">
                                    <label for="SUF">
                                        F
                                    </label>
                                </div>
                            </div>

                          </div>
                        </div> <!--/.panel-->
                        </div> <!--/.Sunday-->


                    </div>

              </fieldset>

            </div> <!-- end body -->
          </div> <!-- end panel -->
          <!-- end select bookings checkboxes -->
          {% endcomment %}



{% endblock %}