{% extends "base.html" %}

{% block sidebarNav %}
{% include "sidebarNav/manager.html" %}
{% endblock %}


{% comment %}
--------------------------------------------------------------------------------
---                               TODO'S                                     ---
--------------------------------------------------------------------------------

  * Nothing

{% endcomment %}

{% block mainArea %}
<br>

<!-- List of Blocks -->
<div class="panel panel-default">

    <div class="panel-heading clearfix">
      <h3 class="panel-title pull-left" style="padding-top: 7.5px;">List of Blocks</h3>
      <div class="btn-group pull-right">

        <!-- add new session button -->
          <a class="studentLabel" style="float:right;" href="addBlock.html">
            <button class="btn btn-default" type="button">
              <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
              Add New Block
            </button>
          </a>

      </div>
    </div>

  <div class="panel-body">
    <!-- list of sessions-->
    <div class="table-responsive">
      <table id="myTableBlock" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>Begin Date</th>
            <th>End Date</th>
            <th>Label</th>
            <th>Type</th>
            <th>Price</th>
	        <th>Info</th>
          </tr>
        </thead>
        <!-- change this to get block information rather than sessions -->
        {% if blocks%}
          <tbody>
          {% for block in blocks %}
		  {% url 'bookingsystem.views.blockInfo' block.blockid as blockUrl %}   <!-- TODO  in views.py -->

            <tr class="studentLabel">
              <td>{{block.begindate|date:"D, d M y"}}</td>
              <td>{{block.enddate|date:"D, d M y"}}</td>
              <td>{{block.label}}</td>
              <td>{{block.type}}</td>
              <td>TODO</td>
      			  <td>
        				<a href="blockInfo/{{ block.blockid }}" style="color: #1A387B">
                      		<span class="glyphicon glyphicon-info-sign"/>
        				</a>
              </td>
            </tr>
          {% endfor %}
        {% else %}
          There are no saved Blocks or an error has occurred.
        {% endif %}


          </tbody>
        </table>

      </div> <!-- end table div -->
    </div> <!-- end panel div -->
 </div><!-- end block list-->

<!--make table responsive-->
<script>
$(document).ready(function(){
    $('#myTableBlock').dataTable();
});
</script>

{% endblock %}