{% extends "base.html" %}

{% block sidebarNav %}
{% include "sidebarNav/manager.html" %}
{% endblock %}

{% comment %}


{% endcomment %}

{% block mainArea %}

	<!-- main area -->
	<!-- cofigure block info-->
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Edit Info</h3>
		</div> <!-- end head-->
	
		<div class="panel-body">
			TODO!
		</div> <!-- end body-->
	</div> <!-- end panel-->

	{% if blockSessions %}
		<!-- Sessions -->
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Sessions</h3>
			</div> <!-- end heading -->
		
			<div class="panel-body">
				<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th>Is Full</th>
	          			  	<th>Begin Time</th>
	          			  	<th>End Time</th>
	          			  	<th>Block Belonging</th>
	          			  	<th>Ages Group</th>
	          			  	<th>Skill Group</th>
	          			  	<th>Assigned Coach</th>
							<th>Info</th>
	        			</tr>
	      		  	</thead>
					{% for session in blockSessions %}
						<tbody>
							<tr class="studentLabel">
								{% if isfull %}
									<td>Yes</td>
								{% else %}
	 						   		<td>No</td>
								{% endif %}
					            <td>{{session.begintime|time:"H:i"}}</td>
					            <td>{{session.endtime|time:"H:i"}}</td>
					            <td>?</td>
					            <td>{{session.agegroup}}</td>
					            <td>{{session.skillgroup}}</td>
					            <td>?</td>
								<td>
									<a href="/bookingsystem/manager/sessionInfo{{ session.sessionid }}" style="color: #1A387B">
					              		<span class="glyphicon glyphicon-info-sign"/>
									</a>
					            </td>
							</tr>
						</tbody>
					{% endfor %}
				</table>
			</div> <!-- end body -->
		</div> <!-- end panel -->
	{% endif %}
	
	<input type="submit" class="btn btn-default" name="submit" value="Submit Changes" />
	
	<span class="pull-right">
		<a href="/bookingsystem/manager/removeBlock/{{ blocks.blockid }}" class="btn btn-danger">
	   		Remove Block
	 	</a>
	</span>
{% endblock %}