{% extends "base.html" %}

{% block sidebarNav %}
{% include "sidebarNav/manager.html" %}
{% endblock %}
<!--!!!!!      ---------------- -TODO- ------------------      !!!!!-->
<!--              REPETATIVE CODE WITH MANAGER INDEX PAGE           -->
<!--                                                                -->
<!--                                                                -->
<!--!!!!!      ---------------- -TODO- ------------------      !!!!!-->

  {% block mainArea %}
  <br>
  <!-- bookings pending confirmation -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Pending</h3>
    </div>
    <div class="panel-body">




      <!-- add body here -->
            <div class="list-group">

                {% if pending %}
                    {% for session in pending %}
                                <!-- list item -->
                                 {% url 'bookingsystem.views.sessionInfo' session.session_sessionid.sessionid as uurl %}
                                <span class="list-group-item clearfix" style="color: #000;">
                                  <span class="glyphicon glyphicon-file" style="color: #4179FA;"></span>
                                    {{session.session_sessionid.begintime|date:"d M"}} - {{session.session_sessionid.begintime|time:"H:i"}}, {{session.user_uid.firstname}} {{session.user_uid.lastname}}
                                  <span class="pull-right">Places Left: {{session.session_sessionid.capacity}}
                                    <button class="btn btn-xs btn-warning">
                                      <span class="glyphicon glyphicon-time"></span>
                                    </button>

                                     <a href={{ uurl }} class="btn btn-xs btn-info" id ="info">
                                      <span class="glyphicon glyphicon-info-sign"></span>
                                    </a>

                                    <button class="btn btn-xs btn-success approveButton" id ="approve" data-catid="{{session.session_sessionid.sessionid}}" user="{{session.user_uid.uid}}">
                                      <span class="glyphicon glyphicon-ok"></span>
                                    </button>
                                  </span>
                                </span> <!-- end of list group item -->
                    {% endfor %}
                {% else %}
                    <strong>There unconfirmed bookings.</strong>
                {% endif %}

            </div> <!-- end of list group-->



    </div>
</div> <!--panel-->



<!-- Confirmed bookings -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"> Latest Confirmed</h3>
  </div>
  <div class="panel-body">


    <!-- add body here -->
    <div class="list-group">
      {% if history %}
        {% for session in history %}
          {% if session %}
        <!-- list item -->
        <a href="#" class="list-group-item clearfix">
          <span class="glyphicon glyphicon-file"></span>
            {{session.session_sessionid.begintime|date:"d M y"}} - {{session.session_sessionid.begintime|time:"H i"}} , {{session.user_uid.firstname}} {{session.user_uid.lastname}}
          <span class="pull-right">Places Left: {{session.session_sessionid.capacity}}
            <button class="btn btn-xs btn-info">
              <span class="glyphicon glyphicon-info-sign"></span>
            </button>
          </span>
          {% endif %}
          {% endfor %}
        {% else %}
          <strong>There are no recent confirmations.</strong>
        {% endif %}
      </a> <!-- end of list group item -->


    </div> <!--panel body -->
  </div> <!--panel-->
</div> <!--panel-->


<!-- Waiting List -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"> Waiting List</h3>
</div>
<div class="panel-body">


 <div class="list-group">
    {% if declined %}
        {% for item in declined %}
            {% if item %}
                <a href="#" class="list-group-item clearfix">
                  <span class="glyphicon glyphicon-file"></span>
                    {{item.session_sessionid.begintime|date:"d M"}} - {{item.session_sessionid.begintime|time:"H:i"}}, {{item.user_uid.firstname}} {{item.user_uid.lastname}}
                  <span class="pull-right">
                    <button class="btn btn-xs btn-info">
                      <span class="glyphicon glyphicon-info-sign"></span>
                  </button>
                </span>
                </a> <!-- end of list group item -->
            {% else %}
            <strong>There are no rejected bookings.</strong>
            {% endif %}
        {% endfor %}
    {% else %}
        There are no rejected bookings..
    {% endif %}

    </div> <!-- end of list group-->

    </div>
</div> <!--panel-->

{% endblock %}