{% extends "base.html" %}

{% block sidebarNav %}
<li><a href="index.html">Home</a></li>
<li><a href="bookings.html"><strong>Bookings</strong></a></li>
<li><a href="coaches.html">Coaches</a></li>
<li><a href="members.html">Children</a></li>
<li><a href="sessions.html">Sessions</a></li>
<li><a href="audit.html">Financial Data</a></li>
{% endblock %}
<!--!!!!!      ---------------- -TODO- ------------------      !!!!!-->
<!-- 	EACH OF THE RESULTS SHOULD BE ENCODED INTO A HIPERLINK AND  -->
<!-- 	THIS HYPERLINK SHOULD POINT TO THE PAGE THAT IS RESPONSIBLE -->
<!-- 	FOR THE KID's PERSONAL INFORMATION							-->
<!-- 																-->
<!-- 	ALSO WE NEED ALL THE BUTTONS THAT WOULD POINT TO THE REST   -->
<!-- 	OF THE FUNCTIONALITY PLACED AND POINTING TO THE CORRECT URL -->
<!--!!!!!      ---------------- -TODO- ------------------      !!!!!-->

{% block mainArea %}
<!-- bookings pending confirmation -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Pending</h3>
  </div>
  <div class="panel-body">
    

    <!-- add body here -->
            <div class="list-group">
                
                <!-- list item -->
                <a href="confirmBooking.html" class="list-group-item clearfix">
                  <span class="glyphicon glyphicon-file"></span>
                    Golliver Strangenous
                  <span class="pull-right">
                    <button class="btn btn-xs btn-warning">
                      <span class="glyphicon glyphicon-time"></span>
                    </button>
                    <button class="btn btn-xs btn-info">
                      <span class="glyphicon glyphicon-info-sign"></span>
                    </button>
                    <button class="btn btn-xs btn-success">
                      <span class="glyphicon glyphicon-ok"></span>
                    </button>
                  </span>
                </a> <!-- end of list group item -->

                <!-- list item -->
                <a href="#" class="list-group-item clearfix">
                  <span class="glyphicon glyphicon-file"></span>
                    Iain McColl
                  <span class="pull-right">
                    <button class="btn btn-xs btn-warning">
                      <span class="glyphicon glyphicon-time"></span>
                    </button>
                    <button class="btn btn-xs btn-info">
                      <span class="glyphicon glyphicon-info-sign"></span>
                    </button>
                    <button class="btn btn-xs btn-success">
                      <span class="glyphicon glyphicon-ok"></span>
                    </button>
                  </span>
                </a> <!-- end of list group item -->

                <!-- list item -->
                <a href="#" class="list-group-item clearfix">
                  <span class="glyphicon glyphicon-file"></span>
                    David McGregor
                  <span class="pull-right">
                    <button class="btn btn-xs btn-warning">
                      <span class="glyphicon glyphicon-time"></span>
                    </button>
                    <button class="btn btn-xs btn-info">
                      <span class="glyphicon glyphicon-info-sign"></span>
                    </button>
                    <button class="btn btn-xs btn-success">
                      <span class="glyphicon glyphicon-ok"></span>
                    </button>
                  </span>
                </a> <!-- end of list group item -->

                <!-- list item -->
                <a href="#" class="list-group-item clearfix">
                  <span class="glyphicon glyphicon-file"></span>
                    Timothy Storer
                  <span class="pull-right">
                    <button class="btn btn-xs btn-warning">
                      <span class="glyphicon glyphicon-time"></span>
                    </button>
                    <button class="btn btn-xs btn-info">
                      <span class="glyphicon glyphicon-info-sign"></span>
                    </button>
                    <button class="btn btn-xs btn-success">
                      <span class="glyphicon glyphicon-ok"></span>
                    </button>
                  </span>
                </a> <!-- end of list group item -->
          
            </div> <!-- end of list group-->



  </div>
</div> <!--panel-->



<!-- Confirmed bookings -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"> Latest Confirmed</h3>
  </div>
  <div class="panel-body">
    

    <!-- add body here -->
        <div class="list-group">
                <!-- list item -->
                <a href="#" class="list-group-item clearfix">
                  <span class="glyphicon glyphicon-file"></span>
                    Nick Holmes
                  <span class="pull-right">
                    <button class="btn btn-xs btn-info">
                      <span class="glyphicon glyphicon-info-sign"></span>
                    </button>
                  </span>
                </a> <!-- end of list group item -->

                <!-- list item -->
                <a href="#" class="list-group-item clearfix">
                  <span class="glyphicon glyphicon-file"></span>
                    Stieg Larsson
                  <span class="pull-right">
                    <button class="btn btn-xs btn-info">
                      <span class="glyphicon glyphicon-info-sign"></span>
                    </button>
                  </span>
                </a> <!-- end of list group item -->

                <!-- list item -->
                <a href="#" class="list-group-item clearfix">
                  <span class="glyphicon glyphicon-file"></span>
                    Paul Andersson
                  <span class="pull-right">
                    <button class="btn btn-xs btn-info">
                      <span class="glyphicon glyphicon-info-sign"></span>
                    </button>
                  </span>
                </a> <!-- end of list group item -->

                <!-- list item -->
                <a href="#" class="list-group-item clearfix">
                  <span class="glyphicon glyphicon-file"></span>
                    Scarlet Johansson
                  <span class="pull-right">
                    <button class="btn btn-xs btn-info">
                      <span class="glyphicon glyphicon-info-sign"></span>
                    </button>
                  </span>
                </a> <!-- end of list group item -->

        </div> <!-- end of list group-->

  </div> <!--panel body -->
</div> <!--panel-->


<!-- Waiting List -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"> Waiting List</h3>
  </div>
  <div class="panel-body">
    

    <!-- add body here -->
        <div class="list-group">

              <!-- list item -->
                <a href="#" class="list-group-item clearfix">
                  <span class="glyphicon glyphicon-file"></span>
                    Queue First
                  <span class="pull-right">
                    <button class="btn btn-xs btn-info">
                      <span class="glyphicon glyphicon-info-sign"></span>
                    </button>
                    <button class="btn btn-xs btn-success">
                      <span class="glyphicon glyphicon-ok"></span>
                    </button>
                  </span>
                </a> <!-- end of list group item -->

                <!-- list item -->
                <a href="#" class="list-group-item clearfix">
                  <span class="glyphicon glyphicon-file"></span>
                    Queue Second
                  <span class="pull-right">
                    <button class="btn btn-xs btn-info">
                      <span class="glyphicon glyphicon-info-sign"></span>
                    </button>
                    <button class="btn btn-xs btn-success">
                      <span class="glyphicon glyphicon-ok"></span>
                    </button>
                  </span>
                </a> <!-- end of list group item -->

                <!-- list item -->
                <a href="#" class="list-group-item clearfix">
                  <span class="glyphicon glyphicon-file"></span>
                    Queue Third
                  <span class="pull-right">
                    <button class="btn btn-xs btn-info">
                      <span class="glyphicon glyphicon-info-sign"></span>
                    </button>
                    <button class="btn btn-xs btn-success">
                      <span class="glyphicon glyphicon-ok"></span>
                    </button>
                  </span>
                </a> <!-- end of list group item -->

                <!-- list item -->
                <a href="#" class="list-group-item clearfix">
                  <span class="glyphicon glyphicon-file"></span>
                    Queue Fourth
                  <span class="pull-right">
                    <button class="btn btn-xs btn-info">
                      <span class="glyphicon glyphicon-info-sign"></span>
                    </button>
                    <button class="btn btn-xs btn-success">
                      <span class="glyphicon glyphicon-ok"></span>
                    </button>
                  </span>
                </a> <!-- end of list group item -->
        </div>

  </div>
</div> <!--panel-->

{% endblock %}