{% extends "base.html" %}

{% block sidebarNav %}
{% include "sidebarNav/manager.html" %}
{% endblock %}

  {% block mainArea %}
	<br>
  <!-- main area -->

  <!-- view Status -->

	<form action="/bookingsystem/manager/childProfile.html" method="post">{% csrf_token %}
		<div class="panel panel-default"><!-- Personal Details -->
			<div class="panel-heading">
				<h3 class="panel-title">Personal Details</h3>
			</div>

		    <form action="/bookingsystem/parent/addNew.html" method="post">{% csrf_token %}
			<div class="panel-body"><!-- fields -->
				<!-- Name -->
				<div class="input-group">
					<span class="input-group-addon" id="basic-addon1" style="min-width: 110px">Name</span>
					<input type="text" class="form-control" name="firstname" value="{{ child.firstname }} {{ child.lastname }}" aria-describedby="basic-addon2" readonly style="min-width: 70px">

				</div>

				<div class="input-group">
								<span class="input-group-addon" id="basic-addon1" style="min-width: 110px">Gender</span>
						{% if child.genderid = 1 %}
					  			<input type="text" class="form-control" name="gender" value="Male" aria-describedby="basic-addon1" readonly>

								<span style="display: none;"><select name="genderid" id="genderid">
								<option selected value="1"></option>
								</select></span>
						{% else %}
					  			<input type="text" class="form-control" name="gender" value="Female" aria-describedby="basic-addon1" readonly>
								<span style="display: none;"><select name="genderid" id="genderid">
								<option selected value="0"></option>
								</select></span>
						{% endif %}
				</div>

				<!-- Date of Birth -->
				<div class="input-group">
					<span class="input-group-addon" id="basic-addon1" style="min-width: 110px">Date Of Birth</span>
					<input type="text" class="form-control" name="dateofbirth" value="{{ child.dateofbirth }}" aria-describedby="basic-addon1" readonly>
				</div>

				<div class="input-group">
					<span class="input-group-addon" readonly id="edit5" id="basic-addon1" style="min-width: 110px">Member</span>
					<div class="input-group">
					  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
					    {{ child.ismember }}
					    <span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
					    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Yes</a></li>
					    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">No</a></li>
					  </ul>
				  </div>
					
				</div>


				<div class="input-group">
					<span class="input-group-addon" readonly id="edit5" id="basic-addon1" style="min-width: 110px">Member</span>
					{{ form.ismember }}
					
				</div>

			</div>
		</div> <!-- end of Personal Details -->

		<div class="panel panel-default"><!-- Contact Details -->
			<div class="panel-heading">
				<h3 class="panel-title">Contact Details</h3>
			</div>

			<div class="panel-body"><!-- fields -->
	        	<!-- phone number -->
				<div class="input-group">
					<span class="input-group-addon" id="basic-addon1" style="min-width: 110px">Telephone</span>
					<input type="text" class="form-control" name="telephone" value="{{ child.telephone }}" aria-describedby="basic-addon1" readonly id="edit2">
				</div>

				<!-- e-mail -->
				<div class="input-group">
					<span class="input-group-addon" id="basic-addon1" style="min-width: 110px">Email</span>
					<input type="text" class="form-control" name="email" value="{{ child.email }}" aria-describedby="basic-addon1" readonly id="edit3">
				</div>

			</div>
		</div> <!-- end of Contact Details -->

		<div class="panel panel-default"><!-- Contact Details -->
			<div class="panel-heading">
				<h3 class="panel-title">Parent Contact Details</h3>
			</div>

			<div class="panel-body"><!-- fields -->
				<div class="input-group">
					<span class="input-group-addon" id="basic-addon1" style="min-width: 110px">Name</span>
					<input type="text" class="form-control" name="phone" value="{{parentInfo.first_name}} {{parentInfo.last_name}}" readonly aria-describedby="basic-addon1">
				</div>
				<!-- e-mail -->
				<div class="input-group">
					<span class="input-group-addon" id="basic-addon1" style="min-width: 110px">Telephone</span>
					<input type="text" class="form-control" name="phone" value="{{telephone}}	" aria-describedby="basic-addon1" readonly id="edit3">
				</div>

				<div class="input-group">
					<span class="input-group-addon" id="basic-addon1" style="min-width: 110px">Email</span>
					<input type="text" class="form-control" name="email" value="{{ parentInfo.email }}" aria-describedby="basic-addon1" readonly id="edit3">
				</div>

			</div>
		</div> <!-- end of Contact Details -->

		{% comment %}
		<!-- Medical Conditions -->
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Medical Conditions</h3>
			</div>

			<div class="panel-body">
				<!-- TODO: have to make this button add items-->
				<!-- add body here -->
				<div class="input-group">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button">+</button>
					</span>
					<input type="text" class="form-control" name="medicalconditions" value="{{ child.medicalconditions }}" readonly id="edit4">
				</div><!-- /input-group -->
			</div>
		</div><!-- end of Medical Conditions -->
		{% endcomment %}

		<input type="hidden" name="uid" value={{ child.uid }}>
		{% with child.uid as id %}
		{% with id|stringformat:'s' as ID %}
		{% url 'bookingsystem.views.childProfile' as cpUrl %}
		<!-- submit or cancel buttons -->
		<!-- <INPUT Type="button" class="btn btn-default" VALUE="Cancel" ONCLICK="window.location.href='childrenList.html'"/> -->
		<!-- Edit profile button -->
		<td><select name="bool" id="bool" onChange="toggle_edit(this.value)">
		<option selected value="0">Read Only</option>
		<option value="1">Edit Profile</option>
		</select>&nbsp;</td>
		<INPUT Type="submit" class="btn btn-default" VALUE="Submit"/>
{% endwith%}{%endwith%}

	</forms>

<br><br>

<!-- Bocks of Sessions-->
<div class="panel panel-default">
	<div class="panel-heading">
    	<h3 class="panel-title">Sessions Enrolled In</h3>
  	</div>
	<div class="panel-body">
		<!-- add body here -->
        <div class="list-group">
            {% if sessions %}
            	{% for session in sessions %}
                	<!-- list item -->
                	<span class="list-group-item clearfix" style="color: #000;">
                 		<span class="glyphicon glyphicon-file"></span>
                   		{{session.session_sessionid.begintime|date:"d M y"}} from {{session.session_sessionid.begintime|date:"g:i A"}} to {{session.session_sessionid.endtime|date:"g:i A"}}
                 	  	<span class="pull-right">
							<a href="/bookingsystem/manager/sessionInfo{{ session.session_sessionid.sessionid }}" class="btn btn-xs btn-success" id ="info">
                        		<span class="glyphicon glyphicon-calendar"></span>
							</a>
                 	  	</span>
					</span> <!-- end of list group item -->
						{% endfor %}
					{% else %}
            	This child is not enrolled in any sessions.
            	To enroll please go to Bookings.
            {% endif %}
		</div> <!-- end of list group-->
	</div>
</div> <!--panel-->
	
	<!-- script for allowing edit changes -->
	<script>
	function toggle_edit(editBool) {
	  editBool = $("#bool").val();
	  if( editBool == "0") {
	    	$("#edit2").attr("readonly", true);
			$("#edit3").attr("readonly", true);
			$("#edit4").attr("readonly", true);
			$("#edit5").attr("readonly", true);

	  } else {
	    	$("#edit2").attr("readonly", false);
			$("#edit3").attr("readonly", false);
			$("#edit4").attr("readonly", false);
			$("#edit5").attr("readonly", false);
	  }
	}
	</script>
{% endblock %}