{% extends "base.html" %}

{% block sidebarNav %}
{% include "sidebarNav/manager.html" %}
{% endblock %}
<!--!!!!!      ---------------- -TODO- ------------------      !!!!!-->
<!-- 	EACH OF THE RESULTS SHOULD BE ENCODED INTO A HIPERLINK AND  -->
<!-- 	THIS HYPERLINK SHOULD POINT TO THE PAGE THAT IS RESPONSIBLE -->
<!-- 	FOR THE KID's PERSONAL INFORMATION							-->
<!-- 																-->
<!-- 	ALSO WE NEED ALL THE BUTTONS THAT WOULD POINT TO THE REST   -->
<!-- 	OF THE FUNCTIONALITY PLACED AND POINTING TO THE CORRECT URL -->
<!--!!!!!      ---------------- -TODO- ------------------      !!!!!-->

<!-- coahc profile for the manager main area -->
{% block mainArea %}
	<br>
	<!-- Personal Details -->
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Personal Details</h3>
		</div>

		<div class="panel-body">
 			<!-- add body here -->
			<!-- Name -->
			<div class="input-group">
				<span class="input-group-addon" id="basic-addon1">First Name</span>
				<input type="text" class="form-control" value="{{ userObject.first_name }}" aria-describedby="basic-addon2" readonly>
			</div>

			<div class="input-group">
				<span class="input-group-addon" id="basic-addon1">Last Name</span>
				<input type="text" class="form-control" value="{{ userObject.last_name }}" aria-describedby="basic-addon1" readonly>
			</div>
		</div>
	</div> <!--panel-->
	<!-- end of Personal Details -->

	<!-- Contact Details -->
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Contact Details</h3>
		</div>

		<div class="panel-body">
			<!-- add body here -->
			<!-- phone number -->
			<div class="input-group">
				<span class="input-group-addon" id="basic-addon1">#&nbsp;</span>
				<input type="text" class="form-control" value="{{ userObject.telephone }}" aria-describedby="basic-addon1" readonly>
			</div>

			<!-- e-mail -->
			<div class="input-group">
				<span class="input-group-addon" id="basic-addon1">@</span>
				<input type="text" class="form-control" value="{{ userObject.email }}" aria-describedby="basic-addon1" readonly>
			</div>
		</div>
	</div> <!--panel-->
	<!-- end of Contact Details -->



	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Summary of Coaching hours</h3>
		</div>

		<div class="panel-body">

      <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Week</th>
            <th>Number  	 of Hours</th>
          </tr>
        </thead>
        <tbody>
        {% for key, value in history.items %}
          <tr>
            <td>{{key}}</td>
            <td>{{value.duration__sum}}</td>
          </tr>
          {%endfor%}
        </tbody>
      </table>
      </div>
    </div>
</div>

	<!-- Attendance -->
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Today's Sessions</h3>
		</div>

		<div class="panel-body">
			<!-- add body here -->
              <div class="list-group">
	            {% if todayAssignedSessions %}
	            	{% for session in todayAssignedSessions %}
						<a href="/bookingsystem/manager/sessionInfo{{ session.sessionid }}" class="list-group-item">{{ session.begintime }}</a>
					{% endfor %}
				{% else %}
	            	There are no sessions assigned to you today.
	            {% endif %}
              </div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Future Sessions</h3>
		</div>

		<div class="panel-body">
			<!-- add body here -->
              <div class="list-group">
	            {% if futureAssignedSessions %}
	            	{% for session in futureAssignedSessions %}
						<a href="/bookingsystem/manager/sessionInfo{{ session.sessionid }}" class="list-group-item">{{ session.begintime }}</a>
					{% endfor %}
				{% else %}
	            	There are no sessions assigned to you in the future.
	            {% endif %}
              </div>
		</div>
	</div>

		<!-- button to remove coach -->
  		<span class="pull-right">
  			<a href="/bookingsystem/manager/removeCoach/{{ userObject.id }}" class="btn btn-danger" id ="info">
            		Remove Coach
          	</a>
  		</span>

{% endblock %}