{% extends "base.html" %}

{% block sidebarNav %}
{% include "sidebarNav/manager.html" %}
{% endblock %}
<!-- coaches list for the manager main area -->
{% block mainArea %}
	<!-- script to allow search function in the coaches list -->
	<script>
	    $(function() {
	        $('#search_input').fastLiveFilter('#search_list');
	    });
	</script>
<br>
<!-- active coaches list -->
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">All Coaches</h3>
	</div>

	<div class="panel-body">
		<!-- add body here -->
		<div class="list-group">
			{% for coach in allCoaches %}
                <span class="list-group-item clearfix" style="color: #000;">
					<span class="glyphicon glyphicon-user" style="color: #4179FA;"></span>
						{{ coach.first_name }} {{ coach.last_name }}
					<span class="pull-right">
						<a href="{% url 'bookingsystem.views.coachProfile' %}{{ coach.id }}" class="btn btn-xs btn-info" id ="info">
                      		<span class="glyphicon glyphicon-info-sign"></span>
                    	</a>
						<a href="{% url 'bookingsystem.views.removeCoach' %}{{ coach.id }}" class="btn btn-xs btn-danger" id ="info">
                      		<span class="glyphicon glyphicon-remove"></span>
                    	</a>
					</span>
                </span>
			{% endfor %}



			{% if notCoaches %}
			<form action="/bookingsystem/manager/addNewCoach" method="post">{% csrf_token %}
			<div class="accordion-heading">
				<a class="list-group-item clearfix" data-toggle="collapse" data-parent="#accordion" href="#collapseAddCoach">
					<strong>Add Coaches</strong>
				</a>
			</div>

			<div id="collapseAddCoach" class="accordion-body collapse" role="tabpanel">
				<div class="panel-body">


		<div align="center">

		<input align="right" id="search_input" placeholder="Type to filter">
		<br>
		<br>
	</div>
			<div class="panel-body" style="overflow:auto; max-height: 250px;">


					<br>
						<ul id="search_list" style="list-style:none; margin: -35px -15px -35px -55px;">
						{% for notCoach in notCoaches %}
							<li class="studentLabel list-group-item labelst">
		                            <input type="checkbox" value="{{ notCoach.id }}" name="notCoachID{{ notCoach.id }}"> &nbsp;{{ notCoach.first_name }} {{ notCoach.last_name }}</input>
		                    </li>
						{% endfor %}
						</ul>
					</ul><br>

				</div><br>
					<INPUT Type="submit" class="btn btn-default" VALUE="Add"/>

				</div>

			</div>

			</form>
			{% endif %}

		</div>
	</div>
</div> <!--panel-->

<a class="btn btn-default" style="float:right;" href="setDefaultCoaches.html">
	<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
		Set Default Coaches
</a>



{% endblock %}