{% extends "base.html" %}

{% block sidebarNav %}
{% include "sidebarNav/manager.html" %}
{% endblock %}
<!--!!!!!      ---------------- -TODO- ------------------     !!!!! -->
<!--                            ATANAS                              -->
<!-- 	                                                            -->
<!-- 	      ALLIGN THE PLACES LEFT ATTRIBUTE PROPERLY	 	    	-->
<!-- 																-->
<!-- FINISH THE MEMBERS TO PAY TABLE, ADD A PRINTER FRIENDLY BUTTON -->
<!-- 	                                                            -->
<!--!!!!!      ---------------- -TODO- ------------------      !!!!!-->

{% block mainArea %}

	{% if manager %}
			<h2>Welcome, {{manager.first_name}}</h2>
        {% else %}
            <h2>Welcome !</h2>
        {% endif %}

        <!-- bookings pending confirmation -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Bookings Pending Confirmation</h3>
  </div>
  <div class="panel-body">


    <!-- add body here -->
            <div class="list-group">

                {% if pending %}
                    {% for session in pending %}
                                <!-- list item -->
                                 {% url 'bookingsystem.views.sessionInfo' session.session_sessionid.sessionid as uurl %}
                                <a href="#" class="list-group-item clearfix">
                                  <span class="glyphicon glyphicon-file"></span>
                                    {{session.session_sessionid.begintime|date:"d M"}} - {{session.session_sessionid.begintime|time:"H:i"}}, {{session.user_uid.firstname}} {{session.user_uid.lastname}}
                                  <span class="pull-right">Places Left: {{session.session_sessionid.capacity}}
                                    <button class="btn btn-xs btn-warning">
                                      <span class="glyphicon glyphicon-time"></span>
                                    </button>


                                    <button class="btn btn-xs btn-info" id ="info" href={{ uurl }}> <!-- id ="info" href={{ uurl }} -->
                                      <span class="glyphicon glyphicon-info-sign"></span>
                                    </button>


                                    <button class="btn btn-xs btn-success approveButton" id ="approve" data-catid="{{session.session_sessionid.sessionid}}" user="{{session.user_uid.uid}}">
                                      <span class="glyphicon glyphicon-ok"></span>
                                    </button>
                                  </span>
                                </a> <!-- end of list group item -->
                    {% endfor %}
                {% else %}
                    <strong>There unconfirmed bookings.</strong>
                {% endif %}

            </div> <!-- end of list group-->



  </div>
</div> <!--panel bookings pending confirmation-->

<!-- bookings pending confirmation -->
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Members Due To Pay</h3>
    </div>
    <div class="panel-body">
		<div id="printPayments">
        {% if payments %}
            <form name="cashPayed" method="post" action="markPaid">
            <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <div>
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Amount Due</th>
                                        <!--th>Next Arrival Day</th-->
                                        <th>Cash</th>
                                    </tr>
                                </thead>
                            </div>
            {% for pendingpayment in payments %}
                            <tbody>
                            <tr class="studentLabel">
                                <td>{{pendingpayment.usertopay.firstname}} {{pendingpayment.usertopay.lastname}}</td>
                                <td>£{{pendingpayment.amount}}</td>
                                <!--td>TODO</td-->
                                <td><input type="checkbox" name="kidPaid" value="{{pendingpayment.usertopay.uid}}" /></td>
                            </tr>
                            </tbody>
                        {% endfor %}
        </table>
        </div>
	<button class="btn btn-default" type="button" onclick="printContent('printPayments')">Print</button>
    <input class="btn btn-default" style="float:right" value="Confirm Payments" type="submit"></input>
</form>

{% else %}
<br />
    There are no Outstanding payments.
    <br /><br />
{% endif %}


{% if paymentMade %}
<br /><br/>
<span style="color: #F00; float:right;">Payments recorded!</span>
{%endif%}
</div>
</div> <!--panel members list-->
{% endblock %}