{% extends "base.html" %}

{% block sidebarNav %}
{% include "sidebarNav/manager.html" %}
{% endblock %}
<!--!!!!!      ---------------- -TODO- ------------------      !!!!!-->
<!--                                                                -->
<!--  	             WHY DO WE NEED CHILD LIST 2 ???                -->
<!--                 IMPLEMENT THE MONEY TO BE PAYED                -->
<!--                                                                -->
<!--!!!!!      ---------------- -TODO- ------------------      !!!!!-->

{% block mainArea %}
<br>
          <!-- members table -->
          <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Members List</h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table id="myTableBlock" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Gender</th>
                                <th>Date of Birth</th>
                                <th>Experience</th>
                                <th>Due</th>
								<th>Info</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for child in clients %}
                                <tr class="studentLabel">
                                {% url 'bookingsystem.views.managerChildProfile' child.uid as uurl %}
                                    <td>{{child.firstname}} {{child.lastname}}</td>
                                    <td>{{child.email}}</td>
                                    {% if child.genderid %}
                                      <td>Male</td>
                                    {% else %}
                                      <td>Female</td>
                                    {% endif %}
                                    <td>{{child.dateofbirth}}</td>
                                    <td>{{child.experiencelevel}}</td>
                                    <td>

                                    {% if child.amount != none %}
                                        £{{ child.amount }}
                                    {% else %}
                                        £0
                                    {% endif %}
                                    </td>
									<td>
										<a href= {{uurl}} style="color: #1A387B">
							      		  <span class="glyphicon glyphicon-info-sign"/>
									  </a>
								 	</td>
                                </tr>
                            {% endfor %}

                        </tbody>
                     </table>
                </div>
            </div> <!-- close body -->
        </div> <!-- close panel -->

	<script>
	$(document).ready(function(){
	    $('#myTableBlock').dataTable();
	});
	</script>

{% endblock %}
