{% extends "base.html" %}

{% block sidebarNav %}
{% include "sidebarNav/manager.html" %}
{% endblock %}
<!--!!!!!      ---------------- -TODO- ------------------      !!!!!-->
<!--                                                                -->
<!--  	             WHY DO WE NEED CHILD LIST 2 ???                -->
<!--                 IMPLEMENT THE MONEY TO BE PAYED                -->
<!--                                                                -->
<!--!!!!!      ---------------- -TODO- ------------------      !!!!!-->

{% block mainArea %}
          <!-- bookings pending confirmation -->
            <div class="panel-heading">
              <h3 class="panel-title">Members List</h3>
            </div>
          <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Gender</th>
                <th>Age</th>
                <th>Experience</th>
                <th>Due To Pay</th>
            </tr>
        </thead>
        {% for child in clients %}
        <tbody>
            <tr class="studentLabel">
                <td><a class="studentLabel" href="childProfile.html"> {{child.firstname}} {{child.lastname}} </a></td>
                <td>{{child.email}}</td>
                {% if child.genderid %}
                  <td>Male</td>
                {% else %}
                  <td>Female</td>
                {% endif %}
                <td>{{child.age}}</td>
                <td>{{child.experiencelevel}}</td>
                <td>
                    
                {% if child.amount != none %}
                    £{{ child.amount }}
                {% else %}
                    £0
                {% endif %}
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

{% endblock %}
