{% extends "base.html" %}

{% block sidebarNav %}
{% include "sidebarNav/manager.html" %}
{% endblock %}
<!--!!!!!      ---------------- -TODO- ------------------      !!!!!-->
<!--                                                                -->
<!--  	             WHY DO WE NEED CHILD LIST 2 ???                -->
<!--                                                                -->
<!--!!!!!      ---------------- -TODO- ------------------      !!!!!-->

{% block mainArea %}
          <!-- bookings pending confirmation -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Children List 1</h3>
            </div>
            <div class="panel-body">
          <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Gender</th>
                <th>Age</th>
                <th>Experience</th>
                <th>Due To Pay</th>
            </tr>
        </thead>
        {% for child in children %}
        <tbody>
            <tr class="studentLabel">
                <td><a class="studentLabel" href="childProfile.html">Tiger Nixon</a></td>
                <td>{{child.firstname}} {{child.lastname}} </td>
                <td>{{child.email}}</td>
                <td>{{child.genderid}}</td>
                <td>{{child.experiencelevel}}</td>
                <td>Money to be payed</td>
            </tr>
            

        </tbody>
    </table>
</div> <!--panel body-->
</div> <!--panel -->

              

          <!-- sconfirmed bookings -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Children List 2</h3>
            </div>
            <div class="panel-body">
              

              <!-- add body here -->
                  <div class="list-group">
                        <a href="confirmBooking.html" class="list-group-item">Maria Sharapova</a>
                        <a href="confirmBooking.html" class="list-group-item">Andy Murray</a>
                        <a href="confirmBooking.html" class="list-group-item">Pete Sampras</a>
                        <a href="confirmBooking.html" class="list-group-item">John McEnroe</a>
                  </div>

            </div>
          </div> <!--panel-->

{% endblock %}