{% extends "base.html" %}

{% block sidebarNav %}
{% include "sidebarNav/manager.html" %}
{% endblock %}
<!--!!!!!      ---------------- -TODO- ------------------     !!!!! -->
<!--                            ATANAS                              -->
<!-- 	                                                            	-->
<!-- THIS PAGE HAS TO DISPLAY MORE INFO ABOUT THE SELECTED SESSION  -->
<!-- 				A SESSION HAS THE FOLLOWING ATTRIBUTES:		  						-->
<!-- 																															  -->
<!--   BEGIN TIME, END TIME BLOCK IT BELONGS TO, PLACES LEFT				-->
<!--AGE GROUP, SKILL GROUP,IS FULL, ASSIGNED COACH, LIST OF MEMBERS -->
<!-- 	                                                           		-->
<!--!!!!!      ---------------- -TODO- ------------------      !!!!!-->

{% block mainArea %}
<br>
<!-- List of Sessions -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">List of Sessions</h3>
  </div>

  <div class="panel-body">
    <!-- list of sessions-->
    <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Is Full</th>
          <th>Begin Time</th>
          <th>End Time</th>
          <th>Block Belonging</th>
          <th>Ages Group</th>
          <th>Skill Group</th>
          <th>Assigned Coach</th>
          <th>List of Members</th>
        </tr>
      </thead>
      {% if details %}
        <tbody>
          <tr class="studentLabel">
          <a class="studentLabel" href="childProfile.html"></a>
            {% if isfull %}
              <td>Yes</td>
            {% else %}
              <td>No</td>
            {% endif %}
            <td>{{details.begintime|date:"d M"}} - {{details.begintime|time:"H:i"}}</td>
            <td>{{details.endtime|time:"H:i"}}</td>
            <td>{{details.block_blockid.label}}</td>
            <td>{{details.agegroup}}</td>
            <td>{{details.skillgroup}}</td>
            <td>TODO</td>
            <td><!-- DROPDOWN of members list -->
              <div class="btn-group" >
            <button type="button" class="btn btn-primary">Clients</button>
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <span class="caret"></span>
              {% if users %}
                {% for user in users %}
              <span class="sr-only">Client List</span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <!-- TODO retreive from database -->
              <li><a href={% url 'bookingsystem.views.childProfile' user.user_uid.uid %}>{{user.user_uid.firstname}}, {{user.user_uid.lastname}} </a></li>
            </ul>
        </div>
        </td>

        {% endfor %}
        {% endif %}
      {% else %}
        There are no Sessions or an error has occurred.
      {% endif %}




      </tbody>
    </table>


              </div>
</div><!--/.panel-->
			
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Assigned Coach</h3>
	</div>

	<div class="panel-body">
		{% if assignedCoaches %}
		{% for coach in assignedCoaches %}
			<a href="coachProfile/{{ coach.id }}" class="list-group-item">{{ coach.first_name }} {{ coach.last_name }}</a>
		{% endfor %}
		{% endif %}
		
		{% if unassignedCoaches %}
		<div class="accordion-heading">
			<a class="list-group-item clearfix" data-toggle="collapse" data-parent="#accordion" href="#collapseAddCoach">
				<strong>Add Coaches</strong>
			</a>
		</div>
		
		<div id="collapseAddCoach" class="accordion-body collapse" role="tabpanel">
			<div class="panel-body">
				<form action="/bookingsystem/manager/addCoachToSession" method="post">{% csrf_token %}
					{% for coach in unassignedCoaches %}
						<li class="studentLabel list-group-item labelst">
	                            <input type="checkbox" value="{{ coach.id }}" name="coachID{{ coach.id }}"> &nbsp;{{ coach.first_name }} {{ coach.last_name }}</input>
	                    </li>
					{% endfor %}<br>
					<input type="hidden" name="sessionID" value="{{ details.sessionid }}">
					<INPUT Type="submit" class="btn btn-default" VALUE="Add"/>
				</form>
			</div>
		</div>
		{% endif %}
	
	</div>
</div><!--/.panel-->	


            <INPUT Type="button" class="btn btn-default" VALUE="Back" ONCLICK="window.location.href='bookings.html'"/>


{% endblock %}