{% extends "base.html" %}

{% block sidebarNav %}
{% include "sidebarNav/manager.html" %}
{% endblock %}
<!--!!!!!      ---------------- -TODO- ------------------      !!!!!-->
<!-- 	EACH OF THE RESULTS SHOULD BE ENCODED INTO A HIPERLINK AND  -->
<!-- 	THIS HYPERLINK SHOULD POINT TO THE PAGE THAT IS RESPONSIBLE -->
<!-- 	FOR THE KID's PERSONAL INFORMATION							-->
<!-- 																-->
<!-- 	ALSO WE NEED ALL THE BUTTONS THAT WOULD POINT TO THE REST   -->
<!-- 	OF THE FUNCTIONALITY PLACED AND POINTING TO THE CORRECT URL -->
<!--!!!!!      ---------------- -TODO- ------------------      !!!!!-->

{% block mainArea %}

<!-- List of Sessions -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">List of Sessions</h3>
  </div>

  <div class="panel-body">
    <!-- list of sessions-->
    <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Date</th>
          <th>Begin Time</th>
          <th>End Time</th>
          <th>Skill Group</th>
          <th>Venue</th>
          <th>Duration</th>
          <th>Price</th>
        </tr>
      </thead>

        <!-- I think we dont need this as a footer too
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
        </tfoot>
      -->

      <tbody>

        <tr class="studentLabel">
          <td><a class="studentLabel" href="childProfile.html">Jena Gaines</a></td>
          <td>Office Manager</td>
          <td>London</td>
          <td>30</td>
          <td>2008/12/19</td>
          <td>1hr</td>
          <td>$90,560</td>
        </tr>

        <tr>
          <td><a href="childProfile.html">Michael Silva</a></td>
          <td>Marketing Designer</td>
          <td>London</td>
          <td>66</td>
          <td>2012/11/27</td>
          <td>1hr</td>
          <td>$198,500</td>
        </tr>
        <tr class="studentLabel">
          <td><a class="studentLabel" href="childProfile.html">Paul Byrd</a></td>
          <td>Chief Financial Officer (CFO)</td>
          <td>New York</td>
          <td>64</td>
          <td>2010/06/09</td>
          <td>1hr</td>
          <td>$725,000</td>
        </tr>
        <tr>
          <td><a href="childProfile.html">Gloria Little</a></td>
          <td>Systems Administrator</td>
          <td>New York</td>
          <td>59</td>
          <td>2009/04/10</td>
          <td>2hr</td>
          <td>$237,500</td>
        </tr>
        <tr class="studentLabel">
          <td><a class="studentLabel" href="childProfile.html">Bradley Greer</a></td>
          <td>Software Engineer</td>
          <td>London</td>
          <td>41</td>
          <td>2012/10/13</td>
          <td>3hr</td>
          <td>$132,000</td>
        </tr>
        <tr>
          <td><a href="childProfile.html">Dai Rios</a></td>
          <td>Personnel Lead</td>
          <td>Edinburgh</td>
          <td>35</td>
          <td>2012/09/26</td>
          <td>1hr</td>
          <td>$217,500</td>
        </tr>
        <tr class="studentLabel">
          <td><a class="studentLabel" href="childProfile.html">Jenette Caldwell</a></td>
          <td>Development Lead</td>
          <td>New York</td>
          <td>30</td>
          <td>2011/09/03</td>
          <td>1hr</td>
          <td>$345,000</td>
        </tr>
        <tr>
          <td><a href="childProfile.html">Yuri Berry</a></td>
          <td>Chief Marketing Officer (CMO)</td>
          <td>New York</td>
          <td>40</td>
          <td>2009/06/25</td>
          <td>1hr</td>
          <td>$675,000</td>
        </tr>
        <tr class="studentLabel">
          <td><a class="studentLabel" href="childProfile.html">Caesar Vance</a></td>
          <td>Pre-Sales Support</td>
          <td>New York</td>
          <td>21</td>
          <td>2011/12/12</td>
          <td>1hr</td>
          <td>$106,450</td>
        </tr>
        <tr>
          <td><a href="childProfile.html">Doris Wilder</a></td>
          <td>Sales Assistant</td>
          <td>Sidney</td>
          <td>23</td>
          <td>2010/09/20</td>
          <td>1hr30min</td>
          <td>$85,600</td>
        </tr>
        <tr class="studentLabel">
          <td><a class="studentLabel" href="childProfile.html">Angelica Ramos</a></td>
          <td>Chief Executive Officer (CEO)</td>
          <td>London</td>
          <td>47</td>
          <td>2009/10/09</td>
          <td>1hr</td>
          <td>$1,200,000</td>
        </tr>
        <tr>
          <td><a href="childProfile.html">Gavin Joyce</a></td>
          <td>Developer</td>
          <td>Edinburgh</td>
          <td>42</td>
          <td>2010/12/22</td>
          <td>1hr</td>
          <td>$92,575</td>
        </tr>
        <tr class="studentLabel">
          <td><a class="studentLabel" href="childProfile.html">Jennifer Chang</a></td>
          <td>Regional Director</td>
          <td>Singapore</td>
          <td>28</td>
          <td>2010/11/14</td>
          <td>1hr</td>
          <td>$357,650</td>
        </tr>
        <tr>
          <td><a href="childProfile.html">Brenden Wagner</a></td>
          <td>Software Engineer</td>
          <td>San Francisco</td>
          <td>28</td>
          <td>2011/06/07</td>
          <td>1hr</td>
          <td>$206,850</td>
        </tr>
        <tr class="studentLabel">
          <td><a class="studentLabel" href="childProfile.html">Fiona Green</a></td>
          <td>Chief Operating Officer (COO)</td>
          <td>San Francisco</td>
          <td>48</td>
          <td>2010/03/11</td>
          <td>1hr</td>
          <td>$850,000</td>
        </tr>
        <tr>
          <td><a href="childProfile.html">Shou Itou</a></td>
          <td>Regional Marketing</td>
          <td>Tokyo</td>
          <td>20</td>
          <td>2011/08/14</td>
          <td>1hr</td>
          <td>$163,000</td>
        </tr>
        <tr class="studentLabel">
          <td><a class="studentLabel" href="childProfile.html">Michelle House</a></td>
          <td>Integration Specialist</td>
          <td>Sidney</td>
          <td>37</td>
          <td>2011/06/02</td>
          <td>1hr</td>
          <td>$95,400</td>
        </tr>
        <tr>
          <td><a href="childProfile.html">Suki Burks</a></td>
          <td>Developer</td>
          <td>London</td>
          <td>53</td>
          <td>2009/10/22</td>
          <td>1hr</td>
          <td>$114,500</td>
        </tr>
        <tr class="studentLabel">
          <td><a class="studentLabel" href="childProfile.html">Prescott Bartlett</a></td>
          <td>Technical Author</td>
          <td>London</td>
          <td>27</td>
          <td>2011/05/07</td>
          <td>1hr</td>
          <td>$145,000</td>
        </tr>
        <tr>
          <td><a href="childProfile.html">Gavin Cortez</a></td>
          <td>Team Leader</td>
          <td>San Francisco</td>
          <td>22</td>
          <td>2008/10/26</td>
          <td>1hr</td>
          <td>$235,500</td>
        </tr>
        <tr class="studentLabel">
          <td><a class="studentLabel" href="childProfile.html">Martena Mccray</a></td>
          <td>Post-Sales support</td>
          <td>Edinburgh</td>
          <td>46</td>
          <td>2011/03/09</td>
          <td>1hr</td>
          <td>$324,050</td>
        </tr>
        <tr>
          <td><a href="childProfile.html">Unity Butler</a></td>
          <td>Marketing Designer</td>
          <td>San Francisco</td>
          <td>47</td>
          <td>2009/12/09</td>
          <td>1hr</td>
          <td>$85,675</td>
        </tr>
        <tr class="studentLabel">
          <td><a class="studentLabel" href="childProfile.html">Howard Hatfield</a></td>
          <td>Office Manager</td>
          <td>San Francisco</td>
          <td>51</td>
          <td>2008/12/16</td>
          <td>1hr</td>
          <td>$164,500</td>
        </tr>
        <tr>
          <td><a href="childProfile.html">Hope Fuentes</a></td>
          <td>Secretary</td>
          <td>San Francisco</td>
          <td>41</td>
          <td>2010/02/12</td>
          <td>1hr</td>
          <td>$109,850</td>
        </tr>
        <tr class="studentLabel">
          <td><a class="studentLabel" href="childProfile.html">Vivian Harrell</a></td>
          <td>Financial Controller</td>
          <td>San Francisco</td>
          <td>62</td>
          <td>2009/02/14</td>
          <td>1hr</td>
          <td>$452,500</td>
        </tr>
        <tr>
          <td><a href="childProfile.html">Timothy Mooney</a></td>
          <td>Office Manager</td>
          <td>London</td>
          <td>37</td>
          <td>2008/12/11</td>
          <td>1hr</td>
          <td>$136,200</td>
        </tr>
        <tr class="studentLabel">
          <td><a class="studentLabel" href="childProfile.html">Jackson Bradshaw</a></td>
          <td>Director</td>
          <td>New York</td>
          <td>65</td>
          <td>2008/09/26</td>
          <td>1hr</td>
          <td>$645,750</td>
        </tr>
        <tr>
          <td><a href="childProfile.html">Olivia Liang</a></td>
          <td>Support Engineer</td>
          <td>Singapore</td>
          <td>64</td>
          <td>2011/02/03</td>
          <td>1hr</td>
          <td>$234,500</td>
        </tr>
        <tr class="studentLabel">
          <td><a class="studentLabel" href="childProfile.html">Bruno Nash</a></td>
          <td>Software Engineer</td>
          <td>London</td>
          <td>38</td>
          <td>2011/05/03</td>
          <td>1hr</td>
          <td>$163,500</td>
        </tr>
        <tr>
          <td><a href="childProfile.html">Sakura Yamamoto</a></td>
          <td>Support Engineer</td>
          <td>Tokyo</td>
          <td>37</td>
          <td>2009/08/19</td>
          <td>1hr30min</td>
          <td>$139,575</td>
        </tr>
        <tr class="studentLabel">
          <td><a class="studentLabel" href="childProfile.html">Thor Walton</a></td>
          <td>Developer</td>
          <td>New York</td>
          <td>61</td>
          <td>2013/08/11</td>
          <td>1hr</td>
          <td>$98,540</td>
        </tr>

      </tbody>
    </table>

                
              </div>
            </div><!--/.panel-->

            <button class="btn btn-default" type="button"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Decline</button>

            <button class="btn btn-default" type="button"> <span class="glyphicon glyphicon-time" aria-hidden="true"></span>Add to Waiting List</button>

            <button class="btn btn-default" type="button"> <span class="glyphicon glyphicon-check" aria-hidden="true"></span>Accept</button>

{% endblock %}