{% extends "base.html" %}

{% block sidebarNav %}
{% include "sidebarNav/manager.html" %}
{% endblock %}
<!--!!!!!      ---------------- -TODO- ------------------     !!!!! -->
<!--                            ATANAS                              -->
<!-- 	                                                            -->
<!-- 	      ALLIGN THE PLACES LEFT ATTRIBUTE PROPERLY	 	    	-->
<!-- 																-->
<!-- FINISH THE MEMBERS TO PAY TABLE, ADD A PRINTER FRIENDLY BUTTON -->
<!-- 	                                                            -->
<!--!!!!!      ---------------- -TODO- ------------------      !!!!!-->

{% block mainArea %}


{% endblock %}