{% block sidebarNav %}
<h4><u>Manager</u></h4>
<li><a href="/bookingsystem/manager/index.html">Overview</a></li>
<li><a href="/bookingsystem/manager/bookings.html">Bookings</a></li>
<li><a href="/bookingsystem/manager/coaches.html">Coaches</a></li>
<li><a href="/bookingsystem/manager/members.html">Members</a></li>
<li><a href="/bookingsystem/manager/sessions.html">Sessions</a></li>
<li><a href="/bookingsystem/manager/blocks.html">Blocks</a></li>
<li><a href="/bookingsystem/manager/audit.html">Financial Data</a></li>
{% endblock %}