{% extends "base.html" %}

{% block sidebarNav %}
{% include "sidebarNav/coach.html" %}
{% endblock %}
<!-- main area for attendance -->
{% block mainArea %}
	<br>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Unchecked addendance for {{ s.begintime }}</h3>
		</div>

		<!-- add body here -->
		<div class="panel-body">
			<div class="col-lg-100">
				{% if unattendedSessionObjects%}
					{% for object in unattendedSessionObjects %}
		                <a href="/bookingsystem/coach/attended/{{ object.user_uid.uid }}/{{ s.sessionid }}" class="list-group-item clearfix">
		                	<span class="glyphicon glyphicon-user"></span>
							{{ object.user_uid.firstname }} {{ object.user_uid.lastname }}
		                </a>

					{% endfor %}
				{% else %}
					Attendance completed!
				{% endif %}
			</div><!-- /.col-lg-6 -->
		</div>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Checked addendance for {{ s.begintime }}</h3>
		</div>

		<!-- add body here -->
		<div class="panel-body">
			<div class="col-lg-100">
				{% if attendedSessionObjects%}
					{% for object in attendedSessionObjects %}
		                <a href="/bookingsystem/coach/attended/{{ object.user_uid.uid }}/{{ s.sessionid }}" class="list-group-item clearfix">
		                	<span class="glyphicon glyphicon-user"></span>
							{{ object.user_uid.firstname }} {{ object.user_uid.lastname }}
		                </a>

					{% endfor %}
				{% else %}
					No attendance!
				{% endif %}
			</div><!-- /.col-lg-6 -->
		</div>
	</div>
	<!-- buttons for canceling or printing attendance -->
	<a class="btn btn-default" href="/bookingsystem/coach/index.html" style="color:black">
		Cancel
	</a>
	
		{% if attendedSessionObjects or unattendedSessionObjects %}
		<a class="btn btn-default pull-right" href="/bookingsystem/coach/printAttendance/{{ s.sessionid }}" style="color:black">
			Print
		</a>
		{% endif %}
{% endblock %}
