{% extends "base.html" %}

{% block sidebarNav %}
{% include "sidebarNav/coach.html" %}
{% endblock %}

{% block mainArea %}
          <!-- Session Attendance -->
          <div class="panel panel-default">
            <div class="panel-heading">

              <!-- TODO: ** get session name for the tittle -->
              <h3 class="panel-title">Session ** Attendance</h3>
            </div>
            <div class="panel-body">
              

              <!-- add body here -->
                      <div class="col-lg-6">

                        <!-- Student 1 -->
                        <div class="input-group">
                          <span class="input-group-addon">
                            <input type="checkbox" aria-labelledby="labelst">
                          </span>
                              <li class="studentLabel list-group-item labelst">
                                Student 1
                              </li>
                        </div><!-- /input-group -->

                        <!-- Student 2 -->
                        <div class="input-group">
                          <span class="input-group-addon">
                            <input type="checkbox" aria-labelledby="labelst">
                          </span>
                              <li class="studentLabel list-group-item labelst">
                                Student 2
                              </li>
                        </div><!-- /input-group -->

                        <!-- Student 3 -->
                        <div class="input-group">
                          <span class="input-group-addon">
                            <input type="checkbox" aria-labelledby="labelst">
                          </span>
                              <li class="studentLabel list-group-item labelst">
                                Student 3
                              </li>
                        </div><!-- /input-group -->


                      </div><!-- /.col-lg-6 -->


            </div>
          </div> <!--panel-->

          <!-- Cancel Button-->
          <button class="btn btn-default" type="button">
          <a class="studentLabel" href="sessions.html">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            Cancel
          </a>
          </button>

          <!-- Submit Button-->
          <button class="btn btn-default" type="button">
          <span class="glyphicon glyphicon-check" aria-hidden="true"></span>Submit</button>
{% endblock %}
