{% extends "base.html" %}

{% block sidebarNav %}
{% include "sidebarNav/coach.html" %}
{% endblock %}

{% block mainArea %}
	
	<br>
	
	<!-- Attendance -->
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Sessions for Attendance</h3>
		</div>
		
		<div class="panel-body">
			<!-- add body here -->
              <div class="list-group">
	            {% if assignedSessions %}
	            	{% for session in assignedSessions %}
						<ul>
							<a href="{% url 'bookingsystem.views.attendance' %}{{ session.sessionid }}" class="list-group-item">{{ session.begintime }}</a>
						</ul>
					{% endfor %}
				{% else %}
	            	You are currently not assigend to any sessions!
	            {% endif %}
              </div>
		</div>
	</div>
	
	<!-- Schedule -->
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Schedule</h3>
		</div>
		
		<div class="panel-body">
			<!-- add body here -->
        	<div class="list-group">
          	  	Show schedule here!
			</div>
		</div>
	</div>			  
{% endblock %}
