{% extends "base.html" %}

{% block sidebarNav %}
<li><a href="index.html"><strong>Home</strong></a></li>
<li><a href="sessions.html">Attendace</a></li>
<li><a href="sessionsTimetable.html">Schedule</a></li>
<li><a href="editProfile.html">Edit Profile</a></li>
{% endblock %}

<!--!!!!!      ---------------- -TODO- ------------------      !!!!!-->
<!-- 	EACH OF THE RESULTS SHOULD BE ENCODED INTO A HIPERLINK AND  -->
<!-- 	THIS HYPERLINK SHOULD POINT TO THE PAGE THAT IS RESPONSIBLE -->
<!-- 	FOR THE KID's PERSONAL INFORMATION							-->
<!-- 																-->
<!-- 	ALSO WE NEED ALL THE BUTTONS THAT WOULD POINT TO THE REST   -->
<!-- 	OF THE FUNCTIONALITY PLACED AND POINTING TO THE CORRECT URL -->
<!--!!!!!      ---------------- -TODO- ------------------      !!!!!-->

{% block mainArea %}
	{% if parent %}
			<h2>Hello, {{parent.first_name}}</h2>
        {% else %}
            <h2>Hello !</h2>
        {% endif %}
	
	<p>Currently there are not available sessions.</p>
	<a href="/bookingsystem/coach/sessions">here</a>
	<h2>All your Children:</h2>
	{% if children %}
            <ul>
                {% for child in children %}
                <li>{{ child.firstname }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
	
{% endblock %}
