{% extends "base.html" %}

{% block sidebarNav %}
{% include "sidebarNav/coach.html" %}
{% endblock %}

{% block mainArea %}

	<br>

	<!-- Attendance Today -->
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Today's Sessions</h3>
		</div>

		<div class="panel-body">
			<!-- add body here -->
              <div class="list-group">
	            {% if todayAssignedSessions %}
	            	{% for session in todayAssignedSessions %}
						<a href="{% url 'bookingsystem.views.attendance' %}{{ session.sessionid }}" class="list-group-item">{{ session.begintime }}</a>
					{% endfor %}
				{% else %}
	            	There are no sessions assigned to you today.
	            {% endif %}
              </div>
		</div>
	</div>
	<!-- Attendance Future -->
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Future Sessions</h3>
		</div>

		<div class="panel-body">
			<!-- add body here -->
              <div class="list-group">
	            {% if futureAssignedSessions %}
	            	{% for session in futureAssignedSessions %}
						<a href="{% url 'bookingsystem.views.attendance' %}{{ session.sessionid }}" class="list-group-item">{{ session.begintime }}</a>
					{% endfor %}
				{% else %}
	            	There are no sessions assigned to you in the future.
	            {% endif %}
              </div>
		</div>
	</div>

	<!-- print -->	
	{% if todayAssignedSessions or futureAssignedSessions %}
		<a class="btn btn-default pull-right" href="/bookingsystem/coach/printScheduleCoach" style="color:black">
			Print
		</a>
	{% endif %}

{% endblock %}
