<!DOCTYPE html>
<!-- print schedule form-->
<html>
	<head>
		<title>Schedule</title>
		<style>
			html *
			{
			   font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
			}
			th,td {
			    padding: 10px;
			}
			
			.wrapper {
			    width: 100%;
			    overflow: hidden;
			}
			.first {
			    width: 50%;
			    float:left;
				
			}
			.second {
				width: 50%;
			    float: right;
				text-align:right;
				padding-top: 20px;
			}
			
		</style>
	</head>
	<body>
		<div class="wrapper">
			<div class="first">
				<p><font size="6">Western Tennis Club</font></p>
				30 Hyndland Road<br>
				Glasgow<br>
				G12 9UP<br> 
				Tel: 0141 339 0065
			</div>
			<div class="second">
				<img src="/static/Western Tennis Club tsp.png" width="88" height="88">
			</div>
		</div>

	<br><br>
		<h3>Today's Sessions</h3>
	
		{% if todayAssignedSessions %}
			<ul>
		    {% for session in todayAssignedSessions %}
				<li>{{ session.begintime }}</li>
			{% endfor %}
			</ul>
		{% else %}
			There are no sessions assigned to you today.
		{% endif %}
				
		<h3>Future Sessions</h3>
	
		{% if futureAssignedSessions %}
			<ul>
			{% for session in futureAssignedSessions %}
			<li>{{ session.begintime }}</li>
			{% endfor %}
			</ul>
		{% else %}
			There are no sessions assigned to you in the future.
		{% endif %}
		
		<script type="text/javascript">
			window.print();            
		    document.location.href = "/bookingsystem/coach/index.html"; 
		</script>
	
	</body>
</html>

