<!DOCTYPE html>
<!-- print attendance form -->
<html>
	<head>
		<title>Addendance for {{ s.begintime }}</title>
		<style>
			html *
			{
			   font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
			}
			th,td {
			    padding: 10px;
			}
			
			.wrapper {
			    width: 100%;
			    overflow: hidden;
			}
			.first {
			    width: 50%;
			    float:left;
				
			}
			.second {
				width: 50%;
			    float: right;
				text-align:right;
				padding-top: 20px;
			}
			
		</style>
	</head>
	<body>
		<div class="wrapper">
			<div class="first">
				<p><font size="6">Western Tennis Club</font></p>
				30 Hyndland Road<br>
				Glasgow<br>
				G12 9UP<br> 
				Tel: 0141 339 0065
			</div>
			<div class="second">
				<img src="/static/Western Tennis Club tsp.png" width="88" height="88">
			</div>
		</div>

	<br><br>
	<h3>Unchecked addendance for {{ s.begintime }}</h3>

	{% if unattendedSessionObjects%}
		{% for object in unattendedSessionObjects %}
			<INPUT TYPE=CHECKBOX NAME="maillist"> {{ object.user_uid.firstname }} {{ object.user_uid.lastname }}
		{% endfor %}
	{% else %}
		Attendance completed!
	{% endif %}
	<br>
	<h3>Checked addendance for {{ s.begintime }}</h3>
	
	{% if attendedSessionObjects%}
		{% for object in attendedSessionObjects %}
			{{ object.user_uid.firstname }} {{ object.user_uid.lastname }}
		{% endfor %}
	{% else %}
		No attendance!
	{% endif %}

	<script type="text/javascript">
		window.print();            
	    document.location.href = "/bookingsystem/coach/attendance/{{ s.sessionid }}"; 
	</script>
	
	</body>
</html>