{% extends "base.html" %}

{% block sidebarNav %}
{% include "sidebarNav/coach.html" %}
{% endblock %}

<!--!!!!!      ---------------- -TODO- ------------------      !!!!!-->
<!-- 	EACH OF THE RESULTS SHOULD BE ENCODED INTO A HIPERLINK AND  -->
<!-- 	THIS HYPERLINK SHOULD POINT TO THE PAGE THAT IS RESPONSIBLE -->
<!-- 	FOR THE KID's PERSONAL INFORMATION							-->
<!-- 																-->
<!-- 	ALSO WE NEED ALL THE BUTTONS THAT WOULD POINT TO THE REST   -->
<!-- 	OF THE FUNCTIONALITY PLACED AND POINTING TO THE CORRECT URL -->
<!--!!!!!      ---------------- -TODO- ------------------      !!!!!-->

{% block mainArea %}
<!-- Seesions for Attendance -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Sessions for Attendance</h3>
            </div>
            <div class="panel-body">


              <!-- add body here -->
              <div class="list-group">
                <a href="attendance.html" class="list-group-item">First session</a>
                <a href="attendance.html" class="list-group-item">Second session</a>
                <a href="attendance.html" class="list-group-item">Third session</a>
                <a href="attendance.html" class="list-group-item">Another session</a>
              </div>
{% endblock %}
