{% extends "base.html" %}

{% block sidebarNav %}
{% endblock %}

{% block mainArea %}

          <!-- TODO: ** add id's to retrieve data from textfields 
                        make sure the format of input is correct-->

          <!-- Personal Details -->
          <div class="panel panel-default">
            <div class="panel-heading">

              
              <h3 class="panel-title">Personal Details</h3>
            </div>
            <div class="panel-body">
              

              <!-- add body here -->
                <!-- Name -->
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Given Name" aria-describedby="basic-addon2">
                  <input type="text" class="form-control" placeholder="Surname" aria-describedby="basic-addon1">
                </div>

            </div>
          </div> <!--panel-->
          <!-- end of Personal Details -->

          <!-- Date of Birth -->
          <div class="panel panel-default">
            <div class="panel-heading">

              
              <h3 class="panel-title">Date of Birth</h3>
            </div>
            <div class="panel-body">
              

              <!-- add body here -->
                <!-- day -->
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">dd</span>
                  <input type="text" class="form-control" placeholder="Day" aria-describedby="basic-addon1">
                </div>

                <!-- month -->
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">mm</span>
                  <input type="text" class="form-control" placeholder="Month" aria-describedby="basic-addon1">
                </div>

                <!-- year -->
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">yyyy</span>
                  <input type="text" class="form-control" placeholder="Year" aria-describedby="basic-addon1">
                </div>

            </div>
          </div> <!--panel-->
          <!-- end of Date of Birth -->

          <!-- Contact Details -->
          <div class="panel panel-default">
            <div class="panel-heading">

              <h3 class="panel-title">Contact Details</h3>
            </div>
            <div class="panel-body">
              

              <!-- add body here -->

                <!-- phone number -->
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">#</span>
                  <input type="text" class="form-control" placeholder="Phone Number" aria-describedby="basic-addon1">
                </div>

                <!-- e-mail -->
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">@</span>
                  <input type="text" class="form-control" placeholder="e-mail address" aria-describedby="basic-addon1">
                </div>

            </div>
          </div> <!--panel-->
          <!-- end of Contact Details -->

          <!-- Medical Conditions -->
          <div class="panel panel-default">
            <div class="panel-heading">

              
              <h3 class="panel-title">Medical Conditions</h3>
            </div>
            <div class="panel-body">
              
              <!-- TODO: have to make this button add items-->

              <!-- add body here -->
                <div class="input-group">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button">+</button>
                  </span>
                  <input type="text" class="form-control" placeholder="add New Medical Condition">
                </div><!-- /input-group -->

            </div>
          </div> <!--panel-->
          <!-- end of Medical Conditions -->

          <!-- submit or cancel buttons -->
          <button class="btn btn-default" type="button">
          <a class="studentLabel"href="index.html">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            Cancel and Back
          </a>
          </button>

          <button class="btn btn-default" type="button">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add New Child and Save Changes</button>

      {% endblock %}