{% extends "base.html" %}

{% block sidebarNav %}
{% include "sidebarNav/parent.html" %}
{% endblock %}

{% block mainArea %}
	<!-- TODO: ** add id's to retrieve data from textfields
		make sure the format of input is correct-->
		<div class="panel panel-default"><!-- Personal Details -->
			<div class="panel-heading">
				<h3 class="panel-title">Personal Details</h3>
			</div>
			<form action="/bookingsystem/parent/addNewChild.html" method="post">
		    {% csrf_token %}

					{% for field in form %}
						<div class="form-group">
						<p><font color="red">{{ field.errors }}</font></p>
						{{ field.label_tag }} {{ field }}
						</div>
						{% endfor %}

		<!-- Submit button -->
		<input type="submit" name="submit" value="Create User" />
	</form>
{% endblock %}
