{% extends "base.html" %}

{% block sidebarNav %}
{% include "sidebarNav/parent.html" %}
{% endblock %}

{% block mainArea %}

          <!-- select student checkboxes -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">To begin please select a student.</h3>
            </div>
            <div class="panel-body">
              <div class="list-group">
              {% for child in children %}
                {% with child.uid as uid %}
                {% with uid|stringformat:'s' as uID %}
                {% url 'bookingsystem.views.userBookings' as uurl %}
                <!-- list item -->
                <a href={{uurl|add:uID}} class="list-group-item clearfix">
                  <span class="glyphicon glyphicon-user"></span>
                  {{child.firstname}} {{child.lastname}}
                  <span class="pull-right">
                    <button class="btn btn-xs btn-warning">
                      <span class="glyphicon glyphicon-calendar"></span>
                    </button>
                  </span>
                </a> <!-- end of list group item -->
                {% endwith %}
                {% endwith %}
              {% endfor %}
            </div> <!-- end of list group-->
            </div>
          </div>

      <button class="btn btn-default" type="button">
          <a class="studentLabel"href="index.html">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            Cancel
          </a>
      </button>

      <button class="btn btn-default" type="button">
      <span class="glyphicon glyphicon-check" aria-hidden="true"></span>Submit</button>

	  <br>


{% endblock %}
