{% extends "base.html" %}

{% block sidebarNav %}
<li><a href="index.html">Home</a></li>
<li><a href="bookings.html"><strong>Bookings</strong></a></li>
<li><a href="childrenList.html">Children</a></li>
<li><a href="payments.html">Payments</a></li>
<li><a href="editProfile.html">Edit Profile</a></li>
{% endblock %}

{% block mainArea %}

          <!-- select student checkboxes -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Select Student (Make it load names from Db)</h3>
            </div>
            <div class="panel-body">
              <div class="checkbox">
                <label><input type="checkbox" value="">Pedro</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="">Nikolas</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="">Dimitris</label>
              </div>
            </div>
          </div>

        <!-- Block of Sessions to select from -->
        <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Bloakcs Available to Enroll</h3>
                </div>
                <div class="panel-body">
                  <div class="list-group">
                          
                          <!-- list item -->
                          <a href="bookSessions.html" class="list-group-item clearfix">
                            <span class="glyphicon glyphicon-file"></span>
                              Block of Sessions 1
                            <span class="pull-right">
                              <button class="btn btn-xs btn-warning">
                                <span class="glyphicon glyphicon-calendar"></span>
                              </button>
                            </span>
                          </a> <!-- end of list group item -->

                          <!-- list item -->
                          <a href="bookSessions.html" class="list-group-item clearfix">
                            <span class="glyphicon glyphicon-file"></span>
                              Block of Sessions 2
                            <span class="pull-right">
                              <button class="btn btn-xs btn-warning">
                                <span class="glyphicon glyphicon-calendar"></span>
                              </button>
                            </span>
                          </a> <!-- end of list group item -->

                          <!-- list item -->
                          <a href="bookSessions.html" class="list-group-item clearfix">
                            <span class="glyphicon glyphicon-file"></span>
                              Block of Sessions 3
                            <span class="pull-right">
                              <button class="btn btn-xs btn-warning">
                                <span class="glyphicon glyphicon-calendar"></span>
                              </button>
                            </span>
                          </a> <!-- end of list group item -->

                          <!-- list item -->
                          <a href="bookSessions.html" class="list-group-item clearfix">
                            <span class="glyphicon glyphicon-file"></span>
                              Block of Sessions 4
                            <span class="pull-right">
                              <button class="btn btn-xs btn-warning">
                                <span class="glyphicon glyphicon-calendar"></span>
                              </button>
                            </span>
                          </a> <!-- end of list group item -->
                    
                      </div> <!-- end of list group-->

                    </div> <!-- end panel body -->
                  </div> <!!-- end panel blocks -->
      
      <button class="btn btn-default" type="button">
          <a class="studentLabel"href="index.html">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            Cancel
          </a>
      </button>

      <button class="btn btn-default" type="button">
      <span class="glyphicon glyphicon-check" aria-hidden="true"></span>Submit</button>

{% endblock %}  
