{% extends "base.html" %}

{% block sidebarNav %}
{% include "sidebarNav/parent.html" %}
{% endblock %}

{% block mainArea %}
<!--CHILDREN-->
<!-- Children List -->
<div class="panel panel-default">
	<div class="panel-heading">
  		<h3 class="panel-title">Children List</h3>
	</div>
	
	<div class="panel-body">
  		<!-- add body here -->
  	  	<div id="groupOfChildren" class="list-group">
			{% if children %}
        		{% for child in children %}
					<ul>
						<a href="{% url 'bookingsystem.views.childProfile' %}{{ child.uid }}" class="list-group-item">{{ child.firstname }}</a>
					</ul>
				{% endfor %}
			{% else %}
				<a href="childProfile.html" class="list-group-item">You have no Children. Press Add child to add.</a>
    		{% endif %}
		</div>

		<!-- Add New Child -->
            <a class="studentLabel" href="addNewChild.html">
				<button class="btn btn-default" type="button">
                
                  <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                  Add New Child
              	</button>
			</a>
        <!-- <INPUT Type="BUTTON" class="btn btn-default" VALUE="Add New Child" ONCLICK="window.location.href='addNewChild.html'"> -->
	</div> <!--panel body-->
</div> <!--panel--> 
<!--END CHILDREN-->         
{% endblock %}
