{% extends "base.html" %}

{% block sidebarNav %}
<li><a href="index.html">Home</a></li>
<li><a href="bookings.html">Bookings</a></li>
<li><a href="childrenList.html"><strong>Children</strong></a></li>
<li><a href="payments.html">Payments</a></li>
<li><a href="editProfile.html">Edit Profile</a></li>
{% endblock %}

{% block mainArea %}

          <!-- Children List -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Children List</h3>
            </div>
            <div class="panel-body">
              

              <!-- add body here -->
              <div id="groupOfChildren" class="list-group">
                <a href="childProfile.html" class="list-group-item">Pedro Smith</a>
                <a href="childProfile.html" class="list-group-item">Nikolas Smith</a>
                <a href="childProfile.html" class="list-group-item">Dimitris Smith</a>
                <a href="childProfile.html" class="list-group-item">Another child etc..</a>
              </div>


            </div>
          </div> <!--panel-->
          
          <!-- Add New Child -->
          <button class="btn btn-default" type="button">
          <a class="addNewChildBtn"href="addNewChild.html">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            Add New Child
          </a>
          </button>
         
{% endblock %}
