{% extends "base.html" %}

{% block sidebarNav %}
{% include "sidebarNav/parent.html" %}
{% endblock %}

  <!--!!!!!      ---------------- -TODO- ------------------      !!!!!-->
  <!-- QUERY THE DATABASE WITH THE BLOCKS FOR THE CORRESPONDING CHILD -->
  <!-- POPULATE THE TABLE VIEW WITH AND MAKE EACH BLOCK LINK TO A PAGE-->
  <!--                                                                -->
  <!--      MAKE THE CHILD NAME APPEAR IN A BETTER WAY - LINE 23      -->
  <!--  ALSO WE NEED TO CHANGE THE PLACE FOR THE PERSONAL INFORMATION -->
  <!--                                                                -->
  <!--                           ATANAS                               -->
  <!--!!!!!      ---------------- -TODO- ------------------      !!!!!-->

  {% block mainArea %}

  <!-- main area -->

  <!-- view Status -->


<!-- Bocks of Sessions-->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Sessions Enrolled In</h3>
  </div>
  <div class="panel-body">


    <!-- add body here -->
            <div class="list-group">
            {% if sessions %}
              {% for session in sessions %}
                <!-- list item -->
                <a href="childSessions.html" class="list-group-item clearfix">
                  <span class="glyphicon glyphicon-file"></span>
                    {{session.begintime|date:"d M y"}} {{session.begintime|date:"d M y"}} - {{session.begintime|time:"H i"}} , {{child.firstname}}
                  <span class="pull-right">
                    <button class="btn btn-xs btn-warning">
                      <span class="glyphicon glyphicon-calendar"></span>
                    </button>
                  </span>
                </a> <!-- end of list group item -->
              {% endfor %}
            {% else %}
            This child is not enrolled in any sessions.
            To enroll please go to Bookings.
            {% endif %}
            </div> <!-- end of list group-->



  </div>
</div> <!--panel-->

            <!-- TODO: ** add id's to retrieve data from textfields
            make sure the format of input is correct
            ** fill textfields with child's information
            so the parent can edit them if needed-->

            <!-- Personal Details -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Personal Details</h3>
              </div>

              <div class="panel-body">


                <!-- add body here -->
                <!-- Name -->
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Given Name" value={{child.firstname}} aria-describedby="basic-addon2">
                  <input type="text" class="form-control" placeholder="Surname" value={{child.lastname}} aria-describedby="basic-addon1">
                </div>

                <!-- Date of Birth -->
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">yyyy/mm/dd </span>
                  <input type="text" class="form-control" placeholder="Date Of Birth"  aria-describedby="basic-addon1">
                </div>

              </div> <!-- /.body -->

            </div> <!-- end of Personal Details -->

            <!-- Contact Details -->
            <div class="panel panel-default">
              <div class="panel-heading">

                <h3 class="panel-title">Contact Details</h3>
              </div>
              <div class="panel-body">


                <!-- add body here -->

                <!-- phone number -->
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">#</span>
                  <input type="text" class="form-control" placeholder="Phone Number" value={{child.telephone}} aria-describedby="basic-addon1">
                </div>

                <!-- e-mail -->
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">@</span>
                  <input type="text" class="form-control" placeholder="e-mail address" value={{child.email}} aria-describedby="basic-addon1">
                </div>

              </div>
            </div> <!-- end of Contact Details -->

            <!-- Medical Conditions -->
            <div class="panel panel-default">
              <div class="panel-heading">


                <h3 class="panel-title">Medical Conditions</h3>
              </div>
              <div class="panel-body">

                <!-- TODO: have to make this button add items-->

                <!-- add body here -->
                <div class="input-group">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button">+</button>
                  </span>
                  <input type="text" class="form-control" placeholder="add New Medical Condition">
                </div><!-- /input-group -->

              </div>
            </div> <!-- end of Medical Conditions -->

            <button class="btn btn-default" type="button">
              <a class="studentLabel"href="index.html">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                Cancel and Back
              </a>
            </button>

            <button class="btn btn-default" type="button">
              <span class="glyphicon glyphicon-check" aria-hidden="true"></span>Save Changes</button>

{% endblock %}

