{% extends "base.html" %}

{% block sidebarNav %}
<li><a href="index.html">Home</a></li>
<li><a href="bookings.html">Bookings</a></li>
<li><a href="childrenList.html"><strong>Children</strong></a></li>
<li><a href="payments.html">Payments</a></li>
<li><a href="editProfile.html">Edit Profile</a></li>
{% endblock %}

  <!--!!!!!      ---------------- -TODO- ------------------      !!!!!-->
  <!--  EACH OF THE RESULTS SHOULD BE ENCODED INTO A HIPERLINK AND  -->
  <!--  THIS HYPERLINK SHOULD POINT TO THE PAGE THAT IS RESPONSIBLE -->
  <!--  FOR THE KID's PERSONAL INFORMATION              -->
  <!--                                -->
  <!--  ALSO WE NEED ALL THE BUTTONS THAT WOULD POINT TO THE REST   -->
  <!--  OF THE FUNCTIONALITY PLACED AND POINTING TO THE CORRECT URL -->
  <!--!!!!!      ---------------- -TODO- ------------------      !!!!!-->

  {% block mainArea %}

  <!-- main area -->

  <!-- view schedule checkboxes --> 
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">View Schedule (Morning or Full Days)</h3>
    </div>
    <div class="panel-body">

      <div class="alert alert-success" role="alert">Booking Successfully Confirmed</div>

                <!-- possible alerts
                <div class="alert alert-info" role="alert">Booking Pending Confirmation</div>
                <div class="alert alert-warning" role="alert">Booking Pending Payment</div>
                <div class="alert alert-danger" role="alert">No Bookings Requested.</div>
              -->

              <!-- TODO: make the radio buttons fixed, so the user can't change them -->

              <!-- bookings pending confirmation -->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Session List</h3>
                </div>
                <div class="panel-body">
                  <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                      <tr>
                        <th>Date</th>
                        <th>Begin</th>
                        <th>End</th>
                        <th>Skill</th>
                        <th>Places left</th>
                      </tr>
                    </thead>

                    <tbody>
                      {% if dbsessions %}
                      {% for session in dbsessions %}
                      <tr class="studentLabel"> 
                        <td>{{session.begintime}}</td>
                        <td>{{session.begintime}}</td>
                        <td>{{session.duration}}</td>
                        <td>{{session.skillgroup}}</td>
                        <td>{{session.capacity}}</td>
                      </tr>
                      {% endfor %}
                      {% else %}
                      <strong>There are no categories present.</strong>
                      {% endif %}
                    </tbody>
                  </table>


            <!-- TODO: ** add id's to retrieve data from textfields 
            make sure the format of input is correct
            ** fill textfields with child's information
            so the parent can edit them if needed-->

            <!-- Personal Details -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Personal Details</h3>
              </div>

              <div class="panel-body">


                <!-- add body here -->
                <!-- Name -->
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Given Name" aria-describedby="basic-addon2">
                  <input type="text" class="form-control" placeholder="Surname" aria-describedby="basic-addon1">
                </div>

                <!-- Date of Birth -->
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">yyyy/mm/dd</span>
                  <input type="text" class="form-control" placeholder="Date Of Birth" aria-describedby="basic-addon1">
                </div>

              </div> <!-- /.body -->

            </div> <!-- end of Personal Details -->

            <!-- Contact Details -->
            <div class="panel panel-default">
              <div class="panel-heading">

                <h3 class="panel-title">Contact Details</h3>
              </div>
              <div class="panel-body">


                <!-- add body here -->

                <!-- phone number -->
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">#</span>
                  <input type="text" class="form-control" placeholder="Phone Number" aria-describedby="basic-addon1">
                </div>

                <!-- e-mail -->
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">@</span>
                  <input type="text" class="form-control" placeholder="e-mail address" aria-describedby="basic-addon1">
                </div>

              </div>
            </div> <!-- end of Contact Details -->

            <!-- Medical Conditions -->
            <div class="panel panel-default">
              <div class="panel-heading">


                <h3 class="panel-title">Medical Conditions</h3>
              </div>
              <div class="panel-body">

                <!-- TODO: have to make this button add items-->

                <!-- add body here -->
                <div class="input-group">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button">+</button>
                  </span>
                  <input type="text" class="form-control" placeholder="add New Medical Condition">
                </div><!-- /input-group -->

              </div>
            </div> <!-- end of Medical Conditions -->

            <button class="btn btn-default" type="button">
              <a class="studentLabel"href="index.html">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                Cancel and Back
              </a>
            </button>

            <button class="btn btn-default" type="button">
              <span class="glyphicon glyphicon-check" aria-hidden="true"></span>Save Changes</button>

              {% endblock %}

