{% extends "base.html" %}

{% block sidebarNav %}
{% include "sidebarNav/parent.html" %}
{% endblock %}

<!--!!!!!      ---------------- -TODO- ------------------      !!!!!-->
<!-- 	            QUOTES IN NAMES SHOULD BE REMOVED.                -->
<!-- 	                                                              -->
<!-- 	THE TOTAL OF ALL THE PAYMENTS PENDINF SGOULD BE CALCULATED		-->
<!-- 									                                							-->
<!--      THE PENDING PAYMENTS RETRIEVAL IS O(n)^2  :(              -->
<!-- 	                                                              -->
<!--                            ATANAS                              -->
<!--!!!!!      ---------------- -TODO- ------------------      !!!!!-->

{% block mainArea %}

	{% if parent %}
			<h2>Hello, {{parent.first_name}}</h2>
        {% else %}
            <h2>Hello !</h2>
        {% endif %}
	
	<p>Currently there are not available sessions.</p>
        <!--CHILDREN-->
          <!-- Children List -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Children List</h3>
            </div>
            <div class="panel-body">
              <!-- add body here -->
              <div id="groupOfChildren" class="list-group">
                {% if children %}
                    {% for child in children %}
                      {% with child.uid as id %}
                      {% with id|stringformat:'s' as ID %}
                      {% url 'bookingsystem.views.childProfile' as uurl %}
                      <!-- {{ uurl|add:ID }} THIS PRINTS THE CURRENT LINK -->
                      <ul>
                          <a href={{ uurl|add:ID }} class="list-group-item">{{ child.firstname }}</a>
                      </ul>
                      {% endwith %}
                      {% endwith %}
                     {% endfor %}
                {% else %}
                    <a href="childProfile.html" class="list-group-item">You have no Children. Press Add child to add.</a>
                {% endif %}
              </div>

              <!-- Add New Child -->
              <button class="btn btn-default" type="button">
              <a class="studentLabel"href="addNewChild.html">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                Add New Child
              </a>
              </button>

            </div> <!--panel body-->
          </div> <!--panel--> 
        <!--END CHILDREN-->

        <!--PAYMENTS-->
          <!-- select student checkboxes -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Payments</h3>
            </div>
            <div class="panel-body">
              {% if payments %}
                {% for payment in payments %}
                  {% if children %}
                    {% for child in children %}
                      {% if payment.usertopay == child.uid %}
                        {% with payment.amount as amount %}
                        <div class="checkbox">
                          <label><input type="checkbox" value="">{{child.firstname}}  | due: {{amount}}£</label>
                        </div>
                        {% endwith %}
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                {% endfor %}
              {% else %}
                You have no registered children.
              {% endif %}

              <div class="checkbox">
                <label> total: 305.00£</label>
              </div>

              <!-- TODO: add paypal -->
              <button class="btn btn-default" type="button">
              <a class="studentLabel"href="">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                Process Payment
              </a>
              </button>

            </div> <!--panel body-->
          </div> <!--panel-->
        <!--END PAYMENTS-->


{% endblock %}
