{% extends "base.html" %}

{% block sidebarNav %}
<li><a href="index.html"><strong>Home</strong></a></li>
<li><a href="bookings.html">Bookings</a></li>
<li><a href="childrenList.html">Children</a></li>
<li><a href="payments.html">Payments</a></li>
<li><a href="editProfile.html">Edit Profile</a></li>
{% endblock %}

<!--!!!!!      ---------------- -TODO- ------------------      !!!!!-->
<!-- 	EACH OF THE RESULTS SHOULD BE ENCODED INTO A HIPERLINK AND  -->
<!-- 	THIS HYPERLINK SHOULD POINT TO THE PAGE THAT IS RESPONSIBLE -->
<!-- 	FOR THE KID's PERSONAL INFORMATION							-->
<!-- 																-->
<!-- 	ALSO WE NEED ALL THE BUTTONS THAT WOULD POINT TO THE REST   -->
<!-- 	OF THE FUNCTIONALITY PLACED AND POINTING TO THE CORRECT URL -->
<!--!!!!!      ---------------- -TODO- ------------------      !!!!!-->

{% block mainArea %}

	{% if parent %}
			<h2>Hello, {{parent.first_name}}</h2>
        {% else %}
            <h2>Hello !</h2>
        {% endif %}
	
	<p>Currently there are not available sessions.</p>

          <!-- Children List -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Children List</h3>
            </div>
            <div class="panel-body">
              <!-- add body here -->
              <div id="groupOfChildren" class="list-group">
                {% if children %}
                    <ul>
                    {% for child in children %}
                        <a href="childProfile.html" class="list-group-item">{{ child.firstname }}</a>
                        {% endfor %}
                    </ul>
                {% else %}
                    <a href="childProfile.html" class="list-group-item">You have no Children. Press Add child to add.</a>
                {% endif %}
              </div>


            </div>
          </div> <!--panel-->
          
          <!-- Add New Child -->
          <button class="btn btn-default" type="button">
          <a class="studentLabel"href="addNewChild.html">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            Add New Child
          </a>
          </button>


{% endblock %}
