{% extends "base.html" %}

{% block sidebarNav %}
{% include "sidebarNav/parent.html" %}
{% endblock %}

<!--!!!!!      ---------------- -TODO- ------------------      !!!!!-->
<!-- 	            QUOTES IN NAMES SHOULD BE REMOVED.                -->
<!-- 	                                                              -->
<!-- 	THE TOTAL OF ALL THE PAYMENTS PENDINF SGOULD BE CALCULATED		-->
<!-- 									                                							-->
<!--      THE PENDING PAYMENTS RETRIEVAL IS O(n)^2  :(              -->
<!-- 	                                                              -->
<!--                            ATANAS                              -->
<!--!!!!!      ---------------- -TODO- ------------------      !!!!!-->

{% block mainArea %}
<br>
<!--PAYMENTS-->
          <!-- select student checkboxes -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Payments</h3>
            </div>
            <div class="panel-body">
              {% if totalDue > 0 %}


              <div class="accordion-heading">
                <a class="list-group-item clearfix" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                  <span class="glyphicon glyphicon-user" style="color: #4179FA;"></span>
                  More info
                </a>
              </div>

              <div id="collapse1" class="accordion-body collapse" role="tabpanel">
                <div class="panel-body">
                 {% for payment in payments %}
                    <span class="list-group-item clearfix" style="color: #000;">
                      <span class="glyphicon glyphicon-calendar" style="color: #4179FA;"></span>
                      {{payment.usertopay.firstname}}, {{payment.amount}} for: {{payment.label}}
                    </span> <!-- end of list group item -->
                  {% endfor %}
                </div>
              </div>
              <!-- TODO: add paypal -->
              <button class="btn btn-default" type="button">
              <a class="studentLabel"href="payments.html">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                Make Payment
              </a>
              </button>
              {% else %}
                You have no payments due
              {% endif %}

            </div> <!--panel body-->
          </div> <!--panel-->
        <!--END PAYMENTS-->


        <!--CHILDREN-->
          <!-- Children List -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Children List</h3>
            </div>
            <div class="panel-body">
              <!-- add body here -->
			  {% if children %}
              <div id="groupOfChildren" class="list-group">

                    {% for child in children %}
                      {% with child.uid as id %}
                      {% with id|stringformat:'s' as ID %}
                      {% url 'bookingsystem.views.childProfile' as uurl %}
                	  {% url 'bookingsystem.views.userBookings' as uuurl %}
                      <!-- {{ uurl|add:ID }} THIS PRINTS THE CURRENT LINK -->
                      <span class="list-group-item clearfix" style="color: #000;">
						<span class="glyphicon glyphicon-user" style="color: #4179FA;"></span>
                        {{ child.firstname }}
	 						<span class="pull-right">
								<a href={{uuurl|add:ID}} class="btn btn-xs btn-warning" id ="warning">
                            		Enroll <span class="glyphicon glyphicon-pencil"></span>
                          		</a>
								<a href="/bookingsystem/parent/childProfile/{{ child.uid }}" class="btn btn-xs btn-info" id ="info">
                            		<span class="glyphicon glyphicon-info-sign"></span>
                          		</a>
								<a href="/bookingsystem/parent/removeChild/{{ child.uid }}" class="btn btn-xs btn-danger" id="warning">
									<span class="glyphicon glyphicon-remove"></span>
							 	</a>
							</span>
                      </span>
                      {% endwith %}
                      {% endwith %}
                     {% endfor %}

              </div>
			  {% endif %}

              <!-- Add New Child -->
              <a class="studentLabel" href="addNewChild.html"><button class="btn btn-default" type="button">

                  <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                  Add New Child

              </button></a>

            </div> <!--panel body-->
          </div> <!--panel-->
        <!--END CHILDREN-->



{% endblock %}
