{% extends "base.html" %}

{% block sidebarNav %}
{% include "sidebarNav/parent.html" %}
{% endblock %}

{% block mainArea %}

         <!-- select student checkboxes -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Payment</h3>
            </div>
            <div class="panel-body">
              <!--
              <div class="checkbox">
                <label><input type="checkbox" value="">Pedro    | total: 200.00£</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="">Nikolas  | total: 300.00£</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="">Dimitris | total: 105.00£</label>
              </div>
              <div class="checkbox">
                <label> total: 605.00£</label>
              </div>
            -->
            {% if totalDue %}
              <span class="">Balance to pay: £  {{totalDue}} </span>

              <br /><br />

              <!-- TODO: add paypal -->
              <button class="btn btn-default" type="button">
              <a class="studentLabel"href="paypalConfirm?id={{user.id}}">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                Pay with PayPal
              </a>
              </button>

            {% else %}
              <span class="">Oustanding Balance: £0</span>
            {%endif%}

            </div>
          </div>

{% endblock %}
