{% extends "base.html" %}

{% block sidebarNav %}
{% include "sidebarNav/parent.html" %}
{% endblock %}

{% block mainArea %}
	<!-- Block of Sessions to select from -->
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Blocks Available to Enroll</h3>
		</div>

		<div class="panel-body">
			<div class="list-group">
				{% for block in blocks %}
					{% with block.blockid|stringformat:'s' as ID %}
              	  	{% with child.uid|stringformat:'s' as uid %}
					
					<div class="accordion-heading">
						<a class="list-group-item clearfix" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter }}">
							<span class="glyphicon glyphicon-file"></span> 
							Week beginning: {{block.begindate}}
							<span class="pull-right">
						</a>
					</div>

					<div id="collapse{{ forloop.counter }}" class="accordion-body collapse" role="tabpanel">
						<div class="panel-body">
							Sessions here!
						</div>
					</div>
			  
					{% endwith %}
					{% endwith %}
				{% endfor %}
			</div> <!-- end of list group-->
		</div> <!-- end panel body -->
	</div> <!-- end panel blocks -->
      
	<INPUT Type="button" class="btn btn-default" VALUE="Cancel" ONCLICK="window.location.href='index.html'"/>
	<INPUT Type="submit" class="btn btn-default" VALUE="Submit"/>
{% endblock %}  
