		{% extends "base.html" %}

{% block sidebarNav %}
{% include "sidebarNav/parent.html" %}
{% endblock %}

{% block mainArea %}
<br>
	<!-- Block of Sessions to select from -->
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Blocks Available to Enroll</h3>
		</div>

		<div class="panel-body">
			<div class="list-group">
				{% for block in blocks %}
				  {% with block.blockid|stringformat:'s' as ID %}
          {% with child.uid|stringformat:'s' as uid %}
				  {% if block.type == 'Week' %}
						<div class="accordion-heading">
							<a class="list-group-item clearfix" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter }}">
								<span class="glyphicon glyphicon-file"></span>
								Camp Week Beginning on: {{block.begindate}}
								<span class="pull-right">
							</a>
						</div>

						<div id="collapse{{ forloop.counter }}" class="accordion-body collapse" role="tabpanel">
 						<div>
					    <object type="text/html" data={{uurl|add:"bookSessions"|add:ID|add:"/"|add:uid}}  width="100%" height="250px" style="overflow:auto;border: 5px ridge rgb(211, 211, 218)">
					    </object></div>					</div>

				  {% elif block.type == 'Season' %}
						<div class="accordion-heading">
							<a class="list-group-item clearfix" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter }}">
								<span class="glyphicon glyphicon-file"></span>
								Class Running from {{block.begindate}} until {{block.enddate}}
								<span class="pull-right">
							</a>
						</div>
						<div id="collapse{{ forloop.counter }}" class="accordion-body collapse" role="tabpanel">

							<div>
					    <object type="text/html" data={{uurl|add:"bookSeason"|add:ID|add:"/"|add:uid}}  width="100%" height="250px" style="overflow:auto;border:5px ridge rgb(211, 211, 218)">
					    </object>
					    </div>
					    </div>

				  {% endif %}
				  {% endwith %}
				  {% endwith %}
				{% endfor %}

			</div> <!-- end of list group-->
		</div> <!-- end panel body -->
	</div> <!-- end panel blocks -->

	<a class="btn btn-default" href="index.html">
		Cancel
	</a>

{% endblock %}
